<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Common Banner Area -->
<section id="common_banner" style="background-image: url('/assets/img/banner/abroad.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>해외여행 패키지</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tour Search Areas -->

<section id="tour_details_main" class="section_padding">
    <form th:action="@{|/booking/detail/${packages.id}|}" th:object="${bookingform}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="tour_details_leftside_wrapper">
                    <div class="tour_details_heading_wrapper">
                        <div class="tour_details_top_heading">
                            <h2 th:text="${packages.packageName}"></h2>
                        </div>
                        <div class="tour_details_top_heading_right">
                            <h4 th:text="|★ ${#numbers.formatDecimal((sum/size),1,1)}/5|"></h4>

                            <p th:text="|(리뷰 ${size})|"></p>
                        </div>
                    </div>


                    <div class="tour_details_boxed">
                        <h3 class="heading_theme">상세정보</h3>

                        <div class="tour_details_boxed_inner">
                            <img th:src="@{${packages.getPhotosImagePath2()}}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

                    <input type="hidden" th:field="${bookingform.bookingacount}">
                    <input type="hidden" th:field="${bookingform.bookingbcount}">
                    <input type="hidden" th:field="${bookingform.bookingccount}">
                    <input type="hidden" id="packagenum" th:value="${packages.id}">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>여행 날짜</h3>
                                </div>
                                <div class="edit_date_form">
                                    <div class="form-group">
                                        <label for="datePicker">출발일 선택</label>
                                        <input type="hidden" id="packagePostEnd" th:field="${packages.postEnd}">
                                        <input type="text" id="datePicker" placeholder="날짜를 선택해주세요" class="form-control"
                                               th:field="${bookingform.departure}"
                                               readonly="readonly"
                                               style="background: url('/assets/img/icon/calander.png') no-repeat 10px 15px;
                                       background-size: 20px;background-position: 95% 50%; cursor:pointer;"
                                               onchange="selectdatePackage()">
                                    </div>
                                    <div class="date_remaincount" style="border-bottom: 1px solid gray; padding: 5px; display:none">
                                        <i class="bi bi-person-check-fill"></i>
                                        잔여수량 <span id="package_remaincount"></span>
                                        <input type="hidden" id="remaincount_hidden" value="0">
                                    </div>
                                    <div class="select_person_side" style="display:none; padding-top:0px;">
                                        <div class="select_person_item">
                                            <div class="select_person_left">
                                                <h6>어른</h6>
                                                <p>만12세 이상</p>
                                            </div>
                                            <div class="select_person_right">
                                                <div class="button-set">
                                                    <button type="button"
                                                            class="btn-subtract">
                                                        <i class="fas fa-minus"
                                                           aria-hidden="true"></i>
                                                    </button>
                                                    <span class="count pcount" id="acount">0</span>
                                                    <button type="button"
                                                            class="btn-add">
                                                        <i class="fas fa-plus"
                                                           aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="select_person_item">
                                            <div class="select_person_left">
                                                <h6>아이</h6>
                                                <p>만2살 이상 만 12살 미만</p>
                                            </div>
                                            <div class="select_person_right">
                                                <div class="button-set">
                                                    <button type="button" class="btn-subtract-c">
                                                        <i class="fas fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                    <span class="count ccount" id="ccount">0</span>
                                                    <button type="button" class="btn-add-c">
                                                        <i class="fas fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="select_person_item">
                                            <div class="select_person_left">
                                                <h6>유아</h6>
                                                <p> 24개월 이하</p>
                                            </div>
                                            <div class="select_person_right">
                                                <div class="button-set">
                                                    <button type="button" class="btn-subtract-in">
                                                        <i class="fas fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                    <span class="count incount" id="bcount">0</span>
                                                    <button type="button" class="btn-add-in">
                                                        <i class="fas fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="font-size:12pt; color: #dc3545;"> 반드시 한명이상의 어른을 선택해주셔야 예약하기가 가능합니다.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>총 선택인원</h3>
                                </div>

                                <div class="tour_booking_amount_area">
                                    <ul>
                                        <div id="adult_count_price"  style="display:none">
                                            <li><span>어른 x <i id="totalacount"></i></span><span id="aprice"><del id="bfaprice"></del></span></li>
                                            <li><span>할인</span><span id="aftaprice"></span></li>
                                        </div>
                                        <div id="child_count_price"  style="display:none">
                                            <li><span>아이 x <i id="totalccount"></i></span><span id="cprice"><del id="bfcprice"></del></span></li>
                                            <li><span>할인</span ><span id="aftcprice"></span></li>
                                        </div>
                                        <div id="baby_count_price"  style="display:none">
                                            <li><span>유아 x <i id="totalbcount"></i></span><span id="bprice"><del id="bfbprice"></del></span></li>
                                            <li><span>할인</span><span id="aftbprice"></span></li>
                                        </div>
                                    </ul>

                                    <div class="total_subtotal_booking" style="padding-bottom: 10px; border-bottom: 1px solid #dadada;">
                                        <h6>총 가격 <span id="totalprice"></span></h6>
                                    </div>
                                    <div class="tour_select_offer_bar_bottom_sally" style="display:none">
                                        <button class="btn btn_theme btn_md w-100" >예약하기</button>
                                    </div>
                                    <div class="tour_select_offer_bar_bottom_sally_x">
                                        <button class="btn btn_theme btn_md w-100" disabled="disabled">예약하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <!-- 리뷰 섹션-->
    <div class="container">
        <div class="row">
            <div class="review_col-md-7">
                <div class="write_your_review_wrapper">
                        <div class="review_col-md-7">
                    <h3 class="heading_theme"></h3>
                    <div class="write_review_inner_boxed">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-froup">
                                        <input type="text" class="form-control bg_input"
                                               placeholder="작성자 이름" th:value="${name}" disabled="disabled"><br/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                  <span class="star">
                                    ★★★★★
                                    <span>★★★★★</span>
                                      <input type="range" oninput="drawStar(this)" value="1" step="2" min="0" max="10" th:value="${shortReviewForm.score}"/>
                                        <h5 id="result">별점을 드래그 해주세요</h5>
                                  </span>

                                </div>
                                <div class="col-lg-12" th:switch="${name}">
                                    <div class="form-froup" th:case="${null}">
                                            <textarea  rows="6" placeholder="로그인을 해주세요"
                                                      class="form-control bg_input" disabled="disabled"></textarea>
                                    </div>
                                    <div class="form-froup" th:case="${name}">
                                            <textarea th:if="${bookingShortReview.isEmpty()}" rows="6" placeholder="상품을 구매하신 분만 작성이 가능합니다"
                                                      class="form-control bg_input" disabled="disabled"></textarea>
                                            <textarea th:unless="${bookingShortReview.isEmpty()}" rows="6" placeholder="리뷰를 입력해주세요"
                                                      class="form-control bg_input"  id="content" th:field="${shortReviewForm.content}"></textarea>
                                    </div>
                                    <br/>
                                    <div class="comment_form_submit">
                                        <button class="btn btn_theme btn_md" type="button" onclick="return shortreview();">등록하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <br/>

         <div id="shortReview">
        <div class="row">
            <div class="col-lg-12">
                <div class="all_review_wrapper">
                    <h3 class="heading_theme">All review</h3>
                </div>
            </div>

<!-- 리뷰 반복문 시작 -->
            <div th:if="${size == 0}"><h4>등록된 리뷰가 없습니다.</h4></div>
            <div th:if="${size != 0}" ><h4 th:text="|리뷰 ${size}개|"></h4></div>
            <div th:each="shortReview : ${shortReviewList}">
                <div class="all_review_box">
<!--                <a th:id="|shortReview_${shortReview.packages.id}|"></a>-->

                    <div class="all_review_date_area">

                        <div class="all_review_date_name">
                            <h5 th:text="${shortReview.userName.name}"></h5>
                        </div>
                        <div class="all_review_date" style="margin-left: 50px;">
                            <h5 th:text="${#temporals.format(shortReview.created,'yy-MM-dd')}"></h5>
                        </div><br/>


<!--                        <div class="all_review_star">-->
<!--                            <div class="review_star_all">-->
<!--                                <span id="scorestar">별점</span>-->
<!--                            </div>-->
<!--                            <div class="review_star_all">-->
<!--                                <h5><input type="text" id="score" th:value="${shortReview.score}" disabled="disabled"  style="background: white; border: none;"></h5>-->
<!--                            </div>-->
<!--                        </div>-->
                    <div class="all_review_star">
                        <div th:if="${shortReview.score.toString().equals('5.0')}" class="review_star_all" style="">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${shortReview.score.toString().equals('4.0')}" class="review_star_all" style="padding-left: 0px;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${shortReview.score.toString().equals('3.0')}" class="review_star_all" style="margin-left: 50px;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${shortReview.score.toString().equals('2.0')}" class="review_star_all" style="margin-left: 50px;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${shortReview.score.toString().equals('1.0')}" class="review_star_all" style="margin-left: 50px;">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>


                    </div><br/><br/>

                    <div class="all_review_text">
                        <h5 th:id="|shortReviewOri${shortReview.id}|" th:text="${shortReview.content}"></h5>
                        <textarea row="1" th:text="${shortReview.content}" class="form-control bg_input" th:id="|shortReviewBox${shortReview.id}|" style="display:none;"></textarea>
                    </div>

                    <div class="comment_form_submit" align="right">
                        <span sec:authorize="isAuthenticated()" th:if="${email}==${shortReview.userName.email}">
                            <button th:id="|updateA${shortReview.id}|" class="btn btn_theme btn_md" type="button" onclick="shortReviewUpdate1(this);" th:value="${shortReview.id}">수정</button>
                        </span>
                        <span sec:authorize="isAuthenticated()" th:if="${email}==${shortReview.userName.email}">
                            <button th:id="|delete${shortReview.id}|" class="btn btn_theme btn_md" type="button" onclick="shortReviewDelete(this);" th:value="${shortReview.id}">삭제</button>
                        </span>
                        <span th:if="${shortReview.userName.email}==${email}">
                                <button th:id="|updateB${shortReview.id}|" class="btn btn-outline-secondary" type="button" onclick="shortReviewUpdate2(this);" th:value="${shortReview.id}" style="display:none;">확인</button></span>
                        <span th:if="${shortReview.userName.email}==${email}">
                                <button th:id="|cancle${shortReview.id}|" class="btn btn-outline-secondary" type="button" onclick="shortReviewUpdate1(this);" style="display:none;" th:value="${shortReview.id}">취소</button></span>
                        <br/><br/>
                    </div>

                </div>



         </div>
        </div>

<!-- 리뷰 반복문 끝 -->
        </div>
    </div>


    </div>
    </div>
    </div>
    </form>
</section>

</body>
</html>