<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>견적문의 답변</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span> Package</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">

  <div class="container" style="margin: auto; width: 70%">
    <div class="col-lg-13">
      <div class="tou_booking_form_Wrapper">


      </div>
    </div>
    <div class="row">

      <div class="col-lg-13">
        <div class="tou_booking_form_Wrapper">

          <div class="booking_tour_form">
            <h3 class="heading_theme">답변</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li><span style="text-align:center;width: 14%">제목</span>
                    <span>ㄴ답변: 나나나나나나나나나나나나나</span></li>





                  <li><span style="text-align:center;width: 14%">추천 패키지</span>
                    <span><div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="theme_common_box_two">
                                <div class="theme_two_box_img">
                                    <a href="hotel-details.html"><img src="/assets/img/tab-img/hotel1.png" alt="img"></a>

                                </div>
                                <div class="theme_two_box_content">
                                    <h4><a href="hotel-details.html">제주 우도여행</a></h4>

                                    <h3>340,000원</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="theme_common_box_two">
                                <div class="theme_two_box_img">
                                    <a href="hotel-details.html"><img src="/assets/img/tab-img/hotel1.png" alt="img"></a>

                                </div>
                                <div class="theme_two_box_content">
                                    <h4><a href="hotel-details.html">제주 우도여행</a></h4>

                                    <h3>340,000원</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="theme_common_box_two">
                                <div class="theme_two_box_img">
                                    <a href="hotel-details.html"><img src="/assets/img/tab-img/hotel1.png" alt="img"></a>

                                </div>
                                <div class="theme_two_box_content">
                                    <h4><a href="hotel-details.html">제주 우도여행</a></h4>

                                    <h3>340,000원</h3>
                                </div>
                            </div>
                        </div>










                    </div>
                </div></span></li>


                  <li><span style="text-align:center;width: 14%">답변</span>
                    <span> <textarea type="text" style="width: 650px;border: none; resize: none;background-color:white;" rows="8" disabled="disabled"> 고객님 그 돈으로는 갈수있는 곳이 없습니다.
                      </textarea> </span></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="common_form_submit">
    <button class="btn btn_theme btn_md">추가문의등록</button>
  </div>

</section>

</body></html>