<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>견적 문의</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">
  <div class="col-lg-8">
  </div>
  <div class="container" style="margin: auto; width: 70%">
    <div class="row">

      <div class="col-lg-13">
        <div class="tou_booking_form_Wrapper">

          <div class="booking_tour_form">
            <h3 class="heading_theme">견적문의</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li><span style="text-align:center;width: 14%">제목</span>
                    <span th:text="${inquiry.title}"></span></li>
                  <li><span style="text-align:center;width: 14%">여행 지역</span>
                    <span th:text="|${inquiry.location1}&nbsp;&nbsp;${inquiry.location2}|"></span>
                  </li>
                  <li><span style="text-align:center;width: 14%">인원</span>
                    <span>
                      성인 |&nbsp; <i th:text="${inquiry.aCount}"></i>&nbsp;명<br><br>
                      아동 |&nbsp;&nbsp;<i th:text="${inquiry.cCount}"></i>&nbsp;명<br><br>
                      유아 |&nbsp;&nbsp;<i th:text="${inquiry.bCount}"></i>&nbsp;명
                    </span>
                  </li>
                  <li><span style="text-align:center;width: 14%">여행기간</span>
                    <span>
                      출발일 | <i th:text="${inquiry.startDay}"></i><br><br>
                      도착일 | <i th:text="${inquiry.endDay}"></i>
                    </span>
                  </li>
                  <li><span style="text-align:center;width: 14%">가격</span>
                    <span th:text="${inquiry.price}"></span></li>

                  <li><span style="text-align:center;width: 14%">기타문의사항</span>
                    <span>
                      <textarea type="text" th:text="${inquiry.content}" style="width: 650px;border: none; resize: none;background-color:white;" rows="8" disabled="disabled"></textarea>
                    </span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="common_form_submit">
    <a th:href="@{|/estimate/inquiry/modify/${inquiry.id}|}">
    <button type="button" class="btn btn_theme btn_md">수정</button>
    </a>
    <button class="delete btn btn_theme btn_md" href="javascript:void(0);" th:data-uri="@{|/estimate/inquiry/delete/${inquiry.id}|}">삭제</button>
    <a th:href="@{|/estimate/reply/${inquiry.id}|}">
      <button type="button" class="btn btn_theme btn_md">답변달기</button>
    </a>

<script type="text/javascript">
	const deleteBtn = document.getElementsByClassName("delete");

	Array.from(deleteBtn).forEach(function(element){

		element.addEventListener('click',function(){

			if(confirm("정말 삭제하시겠습니까?")){
				//true가 오면
				location.href=this.dataset.uri;
			};
		});
	});

</script>
  </div>

</section>

</body></html>