<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>견적문의</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Area -->
<section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">
          <div class="dashboard_menu_area">
            <ul>
              <li><a th:href="@{/notice/list}">공지사항</a></li>
              <li ><a th:href="@{/voiceCus/list}">고객의소리</a></li>
              <li><a th:href="@{/qna/list}">QnA</a></li>
              <li><a th:href="@{/estimate/list}" class="active">견적문의</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8-sally">
        <div class="dashboard_common_table" style="padding-bottom:50px;">
          <h3>견적문의</h3>
          <div class="table-responsive-lg table_common_area">
            <table class="table">
              <thead>
              <tr>
                <th width="140">글번호</th>
                <th width="450">제목</th>
                <th width="200">글쓴이</th>
                <th width="200">작성일</th>
              </tr>
              </thead>
              <tbody>
              <tr th:if="${paging.isEmpty()}"><td colspan="4"> 문의글이 없습니다. </td></tr>
              <th:block th:each="inquiry,loop : ${paging}">
              <tr>
                <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
                <td align="left">
                  <a style="color: black;" th:href="@{|/estimate/inquiry/article/${inquiry.id}?page=${paging.number+1}|}" th:text="${inquiry.title}"></a>
                </td>
                <td th:text="${inquiry.member.name}"></td>
                <td th:text="${#temporals.format(inquiry.created,'yyyy-MM-dd')}"></td>
              </tr>
                <!-- 답변 -->
              <tr th:if="${!inquiry.estimateReplyList.isEmpty()}" th:each="reply : ${inquiry.estimateReplyList}">
                <td></td>
                <td align="left">
                  <a style="color: black;" th:href="@{|/estimate/reply/article/${reply.id}|}" th:text="|&nbsp;&nbsp;└【답변】&nbsp;${reply.title}|"></a>
                </td>
                <td th:text="관리자"></td>
                <td th:text="${#temporals.format(inquiry.created,'yyyy-MM-dd')}"></td>
              </tr>
              </th:block>


              </tbody>
            </table>
          </div>
          <div class="option-item">
            <button th:onclick="|location.href='@{/estimate/inquiry/upload}'|" class="btn btn_theme" style="height: 35px;font-size: 11pt;float: right" >글올리기</button>
            <button th:if="${type!=null && type=='true'}"  th:onclick="|location.href='@{/estimate/list(type='false')}'|" class="btn btn_theme" style="margin-right:10px; height: 35px;font-size: 11pt;float: right;" >전체보기</button>
            <button th:if="${type==null || type=='' || type=='false'}" th:onclick="|location.href='@{/estimate/list(type='true')}'|" class="btn btn_theme" style="margin-right:10px; height: 35px;font-size: 11pt;float: right;" >내문의보기</button>
          </div>
        </div>

        <div class="pagination_area" th:if="${!paging.isEmpty()}">
          <ul class="pagination" th:with="startNumber=${(paging.number/10)}*10+1,endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">
            <li class="page-item">
              <a class="page-link" th:href="@{/estimate/list?(page=1,type=${param.type})}" aria-label="Previous">
                <span aria-hidden="true">≪</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" th:style="${paging.first}?'display:none'">
              <a class="page-link" th:href="@{/estimate/list(page=${paging.number},type=${param.type})}">＜</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                th:classappend="(${page}==${paging.number+1})?'active'">
              <a class="page-link" th:href=@{/estimate/list(page=${page},type=${param.type})} th:text="${page}"></a>
            </li>
            <li class="page-item" th:style="${paging.last}?'display:none'">
              <a class="page-link" th:href="@{/estimate/list(page=${paging.number+2},type=${param.type})}">＞</a>
            </li>
            <li class="page-item">
              <a class="page-link" th:href="@{/estimate/list(page=${paging.totalPages},type=${param.type})}" aria-label="Next">
                <span aria-hidden="true">≫</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>

        <!--
            paging.isEmpty		페이지 존재 여부 (게시물이 있으면 false, 없으면 true)
            paging.totalElements	전체 게시물 개수
            paging.totalPages	전체 페이지 개수
            paging.size		페이지당 보여줄 게시물 개수
            paging.number		현재 페이지 번호
            paging.hasPrevious	이전 페이지 존재 여부
            paging.hasNext		다음 페이지 존재 여부
 -->
      </div>
    </div>
  </div>
</section>

</body>
</html>