<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>견적문의 답변</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">
  <div class="col-lg-8">
  </div>
  <div class="container" style="margin: auto; width: 70%">
    <div class="col-lg-13">
      <div class="tou_booking_form_Wrapper">
        <div class="booking_tour_form">
          <h3 class="heading_theme">견적문의</h3>
          <div class="tour_booking_form_box_sally">
            <div class="your_info_arae">
              <ul>
                <li><span style="text-align:center;width: 14%">제목</span>
                  <span th:text="${inquiry.title}"></span></li>
                <li><span style="text-align:center;width: 14%">여행 지역</span>
                  <span th:text="|${inquiry.location1}  ${inquiry.location2}|"></span>
                </li>
                <li><span style="text-align:center;width: 14%">인원</span>
                  <span>
                      성인 |&nbsp; <i th:text="${inquiry.aCount}"></i>&nbsp;명<br><br>
                      아동 |&nbsp;&nbsp;<i th:text="${inquiry.cCount}"></i>&nbsp;명<br><br>
                      유아 |&nbsp;&nbsp;<i th:text="${inquiry.bCount}"></i>&nbsp;명
                  </span>
                </li>

                <li><span style="text-align:center;width: 14%">여행기간</span>
                  <span>
                      출발일 | <i th:text="${inquiry.startDay}"></i><br><br>
                      도착일 | <i th:text="${inquiry.endDay}"></i>
                  </span>
                </li>
                <li><span style="text-align:center;width: 14%">가격</span>
                  <span th:if="${inquiry.price=='-500000'}" th:text="|50만원 이하|"></span>
                  <span th:if="${inquiry.price=='500000-1000000'}"  th:text="|51만원 ~ 100만원|"></span>
                  <span th:if="${inquiry.price=='1000000-2000000'}" th:text="|100만원 ~ 200만원|"></span>
                  <span th:if="${inquiry.price=='2000000-3000000'}"  th:text="|200만원 ~ 300만원|"></span>
                  <span th:if="${inquiry.price=='3000000-5000000'}" th:text="|300만원 ~ 500만원|"></span>
                  <span th:if="${inquiry.price=='5000000-'}" th:text="|501만원 이상|"></span>
                </li>

                <li><span style="text-align:center;width: 14%">기타문의사항</span>
                  <span>
                    <textarea type="text" th:text="${inquiry.content}" style="width: 650px;border: none; resize: none;background-color:white;" rows="8"disabled="disabled"></textarea>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form th:action th:object="${estimateReplyForm}" method="post">
    <div class="row">
      <div class="col-lg-13">
        <div class="tou_booking_form_Wrapper">
          <div class="booking_tour_form">
            <h3 class="heading_theme">답변달기</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 6px">제목</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><input type="text" th:field="*{title}" class="shform-control" name="" style="border-radius: 3px"></span>
                      <span><div class="form-group col-lg-7" th:errors="*{title}" style="color: #dc3545;"></div></span>
                    </div>
                  </li>
                  <li>
                    <div class="col-lg-2" style="text-align: center;">
                      <span style="text-align:center;margin-top: 15px">추천 패키지</span>
                    </div>
                    <!-- 추천패키지 반복문 돌릴구간 -->
                    <div>
                    <div th:if="${packages.isEmpty()}"> 해당 조건의 패키지상품이 없습니다. </div>
                      <div class="form-check" th:each="package : ${packages}">
                        <input class="form-check-input" type="checkbox" th:field="*{recomPackage}" th:value="${package.id}"/>
                        <label class="form-check-label" th:for="*{recomPackage}">
                                        <span class="area_flex_one">
                                            <span th:text="${package.packageName}"></span>
                                            <span th:text="${package.packagedatelist[0].aprice}"></span>
                                        </span>
                        </label>
                      </div>
                    </div>
                     <!-- 추천패키지 반복문 돌릴구간 -->
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 6px">답변 내용</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><textarea type="text" th:field="*{content}" class="shform-control" name="" style="border-radius: 3px" rows="7"></textarea></span>
                      <span><div class="form-group col-lg-7" th:errors="*{content}" style="color: #dc3545;"></div></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="common_form_submit">
        <button class="btn btn_theme btn_md">답변등록</button>
      </div>
      </form>
  </div>

  </form>
</section>

</body></html>