<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>견적문의 답변</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">

  <div class="container" style="margin: auto; width: 70%">
    <div class="col-lg-13">
      <div class="tou_booking_form_Wrapper">
      </div>
    </div>
    <div class="row">
          <div class="booking_tour_form">
            <h3 class="heading_theme">답변</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae" th:if="${reply.estimateInquiry.member!=null and member.email=='admin@naver.com' or  member.email== reply.estimateInquiry.member.email}">
                <ul>
                  <li><span style="text-align:center;width: 14%">제목</span>
                    <span th:text="${reply.title}"></span>
                  </li>
                  <li><span style="text-align:center;width: 14%">추천 패키지</span>
                      <span>
                      <div th:if="${recomPackages==null}"> 해당 조건의 패키지상품이 없습니다. </div>
                        <div th:unless="${recomPackages==null}" class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-12" th:each="recom : ${recomPackages}">
                                    <div class="theme_common_box_two">
                                        <div class="theme_two_box_img">
                                            <a th:href="@{|/package/${recom.id}|}">
                                                <img th:src="@{${recom.getPhotosImagePath1}}" style="width:300px; height:180px;">
                                            </a>
                                        </div>
                                        <div class="theme_two_box_content">
                                            <h4><a href="hotel-details.html" th:text="${recom.packageName}"></a></h4>
                                             <th:block th:if="${not #strings.isEmpty(recom.packagedatelist[0].discount)}">
                                                <h6 style="text-align-last: right;">
                                                    <del th:text="|${#numbers.formatInteger(recom.packagedatelist[0].aprice,1,'COMMA')}원|"></del>
                                                </h6>
                                                <h4 style="text-align-last: right;"><span
                                                        th:text="|${#numbers.formatInteger(recom.packagedatelist[0].aprice - (recom.packagedatelist[0].aprice *(recom.packagedatelist[0].discount * 0.01)),1,'COMMA')}원|"></span>
                                                </h4>
                                             </th:block>
                                             <th:block th:if="${#strings.isEmpty(recom.packagedatelist[0].discount)}">
                                                 <h6>&nbsp;</h6>
                                                <h4 style="text-align-last: right;"><span
                                                        th:text="|${#numbers.formatInteger(recom.packagedatelist[0].aprice,1,'COMMA')}원|"></span>
                                                </h4>
                                             </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                  </li>
                  <li><span style="text-align:center;width: 14%">답변</span>
                    <span> <textarea type="text" th:text="${reply.content}" style="width: 650px;border: none; resize: none;background-color:white;" rows="8" disabled="disabled"></textarea></span>
                  </li>
                </ul>
              </div>
                <div class="your_info_arae" th:unless="${reply.estimateInquiry.member!=null and member.email=='admin@naver.com' or  member.email== reply.estimateInquiry.member.email}">
                    <div style="border-top: 1px solid #dadada;
                      border-bottom: 1px solid #dadada;
                      padding: 10 20 20 10;
                      padding: 30px;
                      text-align: center;
                      font-size: 17pt;">
                        답변은 본인만 확인 가능합니다.
                    </div>
                </div>
            </div>
          </div>
        <div class="col-lg-13" align="right" style="padding-right: 10px">
            <a th:if="${member.email=='admin@naver.com'}"
               th:href="@{|/estimate/reply/modify/${reply.id}|}" >
            <button type="button"  onclick="return confirm('답변을 수정하실 경우 추천패키지 리스트가 최신정보로 초기화 됩니다. 계속 진행하시겠습니까?');" class="btn btn-outline-secondary">수정</button>
            </a>
            <button  th:if="${member.email=='admin@naver.com'}"
                     href="javascript:void(0);" th:data-uri="@{|/estimate/reply/delete/${reply.id}|}" class="delete btn btn-outline-secondary">삭제</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="common_form_submit">
      <a th:href="@{/estimate/list(page=${param.page})}"
         class="btn btn_theme btn_md">돌아가기</a>
  </div>
    <script type="text/javascript">
	const deleteBtn = document.getElementsByClassName("delete");

	Array.from(deleteBtn).forEach(function(element){

		element.addEventListener('click',function(){

			if(confirm("답변을 삭제하시겠습니까?")){
				//true가 오면
				location.href=this.dataset.uri;
			};
		});
	});

</script>
</section>
</body>
</html>