<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>견적문의 답변</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">

  <div class="container" style="margin: auto; width: 70%">
    <div class="col-lg-13">
      <div class="tou_booking_form_Wrapper">
      </div>
    </div>
    <div class="row">
          <div class="booking_tour_form">
            <h3 class="heading_theme">답변</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li><span style="text-align:center;width: 14%">제목</span>
                    <span th:text="${reply.title}"></span>
                  </li>
                  <li><span style="text-align:center;width: 14%">추천 패키지</span>
                    <span><div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="theme_common_box_two">
                                <div class="theme_two_box_img">
                                    <a href="hotel-details.html"><img src="/assets/img/tab-img/hotel1.png" alt="img"></a>
                                </div>
                                <div class="theme_two_box_content">
                                    <h4><a href="hotel-details.html">제주 우도여행</a></h4>
                                    <h3>340,000원</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="theme_common_box_two">
                                <div class="theme_two_box_img">
                                    <a href="hotel-details.html"><img src="/assets/img/tab-img/hotel1.png" alt="img"></a>
                                </div>
                                <div class="theme_two_box_content">
                                    <h4><a href="hotel-details.html">제주 우도여행</a></h4>
                                    <h3>340,000원</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="theme_common_box_two">
                                <div class="theme_two_box_img">
                                    <a href="hotel-details.html"><img src="/assets/img/tab-img/hotel1.png" alt="img"></a>
                                </div>
                                <div class="theme_two_box_content">
                                    <h4><a href="hotel-details.html">제주 우도여행</a></h4>
                                    <h3>340,000원</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </span>
                  </li>
                  <li><span style="text-align:center;width: 14%">답변</span>
                    <span> <textarea type="text" th:text="${reply.content}" style="width: 650px;border: none; resize: none;background-color:white;" rows="8" disabled="disabled"></textarea></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="common_form_submit">
      <a sec:authorize="isAuthenticated" th:if="${#authentication.getPrincipal().getUsername()=='admin@naver.com'}"
         th:href="@{|/estimate/reply/modify/${reply.id}|}" >
          <button type="button" class="btn btn_theme btn_md">수정</button>
      </a>
      <button class="delete btn btn_theme btn_md"
              sec:authorize="isAuthenticated" th:if="${#authentication.getPrincipal().getUsername()=='admin@naver.com'}"
              href="javascript:void(0);" th:data-uri="@{|/estimate/reply/delete/${reply.id}|}">삭제</button>
  </div>
    <script type="text/javascript">
	const deleteBtn = document.getElementsByClassName("delete");

	Array.from(deleteBtn).forEach(function(element){

		element.addEventListener('click',function(){

			if(confirm("정말 삭제하시겠습니까?")){
				//true가 오면
				location.href=this.dataset.uri;
			};
		});
	});

</script>
</section>
</body>
</html>