<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>패키지별 매출</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span>Booking List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Dashboard Area -->

    <section id="dashboard_main_arae" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4-sally">
                    <div class="dashboard_sidebar">
                        <div class="dashboard_sidebar_user">

                            <h2>Admin</h2>

                        </div>

                        <div class="dashboard_menu_area">
                            <ul>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>패키지 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/packageList}">패키지 상품 리스트</a></li>
                                        </ul>
                                    </div>

                                </li>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>예약 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/bookingUser}">회원 예약 관리 </a></li>
                                        </ul>
                                    </div>

                                </li>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>회원 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/user}">회원 리스트</a></li>
                                            <li><a href="flight-booking.html"></a></li>
                                        </ul>
                                    </div>

                                </li>



                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>매출 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/sales/package}">패키지별 매출 관리</a></li>
                                            <li><a th:href="@{/admin/sales/user}">회원별 매출 관리</a></li>
                                        </ul>
                                    </div>

                                </li>



                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-8-sally">

                    <div >
                        <h3><b>[김야미] 님의 결제 내역</b></h3>
                        <div class="table-responsive-lg table_common_area">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>결제일</th>
                                        <th>패키지 이름</th>
                                        <th>여행 기간</th>
                                        <th>인원</th>
                                        <th>결제 수단</th>
                                        <th>결제 금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2022.10.01</td>
                                        <td>터키 아이스크림 안 먹는 패키지</td>
                                        <td>2022.10.02~2022.10.05</td>
                                        <td>2명</td>
                                        <td>네이버 페이</td>
                                        <td>1,500,000원</td>
                                    </tr>
                                    <tr>
                                        <td>2022.09.04</td>
                                        <td>터키 아이스크림 먹는 패키지</td>
                                        <td>2022.10.02~2022.10.05</td>
                                        <td>2명</td>
                                        <td>무통장 결제</td>
                                        <td>1,500,000원</td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                <td colspan="5"><b>총 결제액</b> </td>
                                <td>3,000,000원</td>
                                </tfoot>
                                
                            </table>
                        </div>
                    </div>
                    <div class="pagination_area">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>