<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>패키지 상품 등록</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Package</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
    <section id="tour_booking_submission" class="section_padding" style="margin: auto">
        <form th:action th:object="${packageCreate}" method="post" enctype="multipart/form-data">
        <div class="col-lg-8">
        </div>
        <div class="container" style="margin: auto; width: 70%">
            <div class="row">

                <div class="col-lg-13">
                    <div class="tou_booking_form_Wrapper">

                        <div class="booking_tour_form">
                            <h3 class="heading_theme">패키지 상품 등록</h3>
                            <div class="tour_booking_form_box">
                                <div class="your_info_arae">
                                    <ul>
                                        <li><span style="text-align:center;width: 14%">패키지 이름</span>
                                            <span><input type="text" th:field="*{packageName}"  class="shform-control" style="width:500px;border-radius: 3px; font-size: 11pt" placeholder="패키지 상품 이름을 입력하세요"></span>
                                            <span>&nbsp;&nbsp;&nbsp;</span>
                                            <div th:if="${#fields.hasErrors('packageName')}" role="alert">
                                           <p style="font-size: 10pt;color: red" th:errors="*{packageName}" th:text="${err}"></p>
                                        </div>
                                        </li>

                                        <li><span style="text-align:center;width: 14%">여행 지역</span>
                                            <span>
                                                <select class="form-select-sm" style="width: 250px ;font-size: 11pt" th:field="*{location1}" onchange="categoryChange(this)">
	                                            <option value="" selected="selected">선택하세요</option>
                                                    <option th:value="아시아">아시아</option>
                                                    <option th:value="유럽">유럽</option>
	                                                <option th:value="미국">미국</option>
                                                    <option th:value="제주">제주</option>
                                                </select>

                                                <select class="form-select-sm" style="width: 250px;font-size: 11pt" th:field="*{location2}">
                                                    <option value="" selected="selected">상세 지역을 선택하세요</option>
                                                </select>

                                                <script>
                                                    function categoryChange(f) {
                                                        var location2_a = ["일본", "중국", "홍콩", "발리","태국","싱가폴","베트남","필리핀"];
                                                        var location2_b = ["스페인","영국","프랑스","이탈리아","독일","그리스","터키"];
                                                        var location2_c = ["하와이","뉴욕","LA","라스베이거스","워싱턴","시카고","캐나다"];
                                                        var location2_d = ["제주시", "중문", "서귀포", "애월"];
                                                        var target = document.getElementById("location2");

                                                        if(f.value == "아시아") var e = location2_a;
                                                        else if(f.value == "유럽") var e = location2_b;
                                                        else if(f.value == "미국") var e = location2_c;
                                                        else if(f.value == "제주") var e = location2_d;

                                                        target.options.length = 0;

                                                        for (x in e) {
                                                            var opt = document.createElement("option");
                                                            opt.setAttribute("th:value",e[x]);
                                                            opt.innerHTML = e[x];
                                                            target.appendChild(opt);
                                                        }
                                                    }
                                                </script>


                                            </span></li>

                                        <li><span style="text-align:center;width: 14%">패키지 예약 인원</span>
                                            <span><input  class="shform-control" type="number" style="border-radius: 3px; font-size: 11pt;width: 200px" placeholder="예)30" th:field="*{count}"></span>
                                            <span>&nbsp;&nbsp;&nbsp;</span>
                                            <div th:if="${#fields.hasErrors('count')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{count}" th:text="${err}"></p>
                                            </div>
                                        </li>

                                        <li><span style="text-align:center;width: 14%">패키지 가격 <br/></span>
                                            <span>
                                                <input type="number" th:field="*{aprice}" class="shform-control" style="width:500px;border-radius: 3px; font-size: 11pt" placeholder="성인 예)100000">
                                            <div th:if="${#fields.hasErrors('aprice')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{aprice}" th:text="${err}"></p>
                                            </div>

                                                <input type="number" th:field="*{cprice}" class="shform-control" style="width:500px;border-radius: 3px; font-size: 11pt" placeholder="아동 예)100000">
                                            <div th:if="${#fields.hasErrors('cprice')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{cprice}" th:text="${err}"></p>
                                            </div>

                                                <input type="number" th:field="*{bprice}" class="shform-control" style="width:500px;border-radius: 3px; font-size: 11pt" placeholder="유아 예)100000">
                                            <div th:if="${#fields.hasErrors('bprice')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{bprice}" th:text="${err}"></p>
                                            </div>
                                            </span>
                                        </li>

                                        <li><span style="text-align:center;width: 14%">상품 할인율</span>
                                            <span> <input type="number"  class="shform-control" style="border-radius: 3px; font-size: 11pt;width: 200px" th:field="*{discount}" placeholder="예)10"></span></li>



                                        </li>
                                    
                                        <li><span style="text-align:center;width: 14%">상품 게시 시작일</span>
                                            <span>
                                                <input class="shform-control" style="border-radius: 3px; width: 500px; font-size: 10pt" type="date" th:field="*{postStart}"></span>
                                                                  <span>&nbsp;&nbsp;&nbsp;</span>
                                            <div th:if="${#fields.hasErrors('postStart')}" role="alert">
                                           <p style="font-size: 10pt;color: red" th:errors="*{postStart}" th:text="${err}"></p>
                                        </div>
                                       </li>



                                        <li><span style="text-align:center;width: 14%">상품 게시 마감일</span>
                                            <span>
                                            <input class="shform-control" style="border-radius: 3px;width: 500px; font-size: 10pt"type="date" th:field="*{postEnd}" id="postEnd" name="postEnd"></span>
                                            <span>&nbsp;&nbsp;&nbsp;</span>
                                            <div th:if="${#fields.hasErrors('postEnd')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{postEnd}" th:text="${err}"></p>
                                            </div>
                                            &nbsp;<a style="color : red;font-size: 10pt" id="postMessage" ></a>

                                        </li>

                                <!--             넘길데이터                           -->
                                        <input type="hidden" th:value="${packageCreate.postStart}" th:id="|postStart${packageCreate.packageNum}|">
                                        <input type="hidden" th:value="${packageCreate.postEnd}" th:id="|postSEnd${packageCreate.packageNum}|">


                                        <li><span style="text-align:center;width: 14%">여행 기간</span>
                                            <span> <input class="shform-control" type="number" style="width: 200px;border-radius: 3px; font-size: 11pt" th:field="*{travelPeriod}" placeholder="예) 3"></span>
                                            <span>&nbsp;&nbsp;&nbsp;</span>
                                            <div th:if="${#fields.hasErrors('travelPeriod')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{travelPeriod}" th:text="${err}"></p>
                                            </div>
                                        </li>


                                        <li><span style="text-align:center;width: 14%">숙소</span>
                                            <span> <input type="text" class="shform-control" style="width: 500px;font-size: 11pt"  th:field="*{hotelName}" placeholder="숙소 이름을 입력해주세요"> </span>
                                            <span>&nbsp;&nbsp;&nbsp;</span>
                                            <div th:if="${#fields.hasErrors('hotelName')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{hotelName}" th:text="${err}"></p>
                                            </div>
                                        </li>


                                        <li><span style="text-align:center;width: 14%">교통</span>
                                            <span>
                                                 <select class="form-select-sm" style="width: 500px;font-size: 11pt"  th:field="*{transport}">
                                                     <option value = "" selected>항공사를 선택하세요</option>
                                                     <option value = "대한항공">대한항공</option>
                                                     <option value = "아시아나항공">아시아나항공</option>
                                                      <option value = "제주항공">제주항공</option>
                                                     <option value = "진에어">진에어</option>
                                                     <option value = "티웨이">티웨이</option>

                                                   </select>
                                            </span></li>
                                        <li><span style="text-align:center;width: 14%">썸네일 이미지</span>
                                            <span>
                                               <input type="file" name="image1" id="image1" accept="image/*" style="border-radius: 3px"> </span>
                                       &nbsp;<a style="color : red;font-size: 10pt" id="image1Message" ></a>
                                        </li>
                                        <li><span style="text-align:center;width: 14%">패키지 상세 이미지</span>
                                            <span>
                                                <input type="file"  name="image2" id="image2" accept="image/*" style="border-radius: 3px">
                                            </span>
                                            &nbsp;<a style="color : red;font-size: 10pt" id="image2Message" ></a>
                                        </li>

                                        <li><span style="text-align:center;width: 14%">패키지 키워드 </span>

                                            <span>
                                                <input type="radio" th:field="*{keyword}" value="healing"/> 힐링
                                                <input type="radio" th:field="*{keyword}"  value="activity"/> 액티비티
                                                <input type="radio" th:field="*{keyword}"  value="golf"/> 골프&nbsp;&nbsp;
                                                <input type="radio" th:field="*{keyword}"  value="hocance"/> 호캉스&nbsp;&nbsp;<br/>
                                                <input type="radio" th:field="*{keyword}"  value="family"/> 가족여행 &nbsp;&nbsp;
                                                <input type="radio" th:field="*{keyword}"  value="food"/> 식도락여행&nbsp;&nbsp;
                                                <input type="radio" th:field="*{keyword}"  value="culture"/> 문화/예술&nbsp;&nbsp;
                                                <input type="radio" th:field="*{keyword}"  value="animal"/> 애견동반
                                                  <div th:if="${#fields.hasErrors('keyword')}" role="alert">
                                                <p style="font-size: 10pt;color: red" th:errors="*{keyword}" th:text="${err}"></p>
                                            </div>
                                            </span>



                                        </li>



                                        <li><span style="text-align:center;width: 14%">패키지 상세 설명</span>
                                            <span> <textarea class="shform-control" type="text" style="width: 650px" rows="10" th:field="*{packageInfo}"></textarea> </span></li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="common_form_submit">
            <button class="btn btn_theme btn_md" type="submit" onclick="return packageSubmit()">등록하기</button>
        </div>
        </form>

    </section>




</body>

</html>