<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">

            <div class="row">

                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>패키지 결제 내역</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span>Package Sales List</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Dashboard Area -->

    <section id="dashboard_main_arae" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4-sally">
                    <div class="dashboard_sidebar">
                        <div class="dashboard_sidebar_user">
                            <h2>Admin</h2>

                        </div>

                        <div class="dashboard_menu_area">
                            <ul>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>패키지 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/packageList}">패키지 상품 리스트</a></li>
                                        </ul>
                                    </div>

                                </li>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>예약 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/bookingUser}">회원 예약 관리 </a></li>
                                        </ul>
                                    </div>

                                </li>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>매출 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/sales/package}">패키지 결제 내역</a></li>
                                        </ul>
                                    </div>

                                </li>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>회원 관리</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/admin/user}">회원 리스트</a></li>
                                        </ul>
                                    </div>

                                </li>



                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-8-sally">

                    <div class="dashboard_common_table">
                        <h3>패키지 결제 내역</h3>
                        <div class="table-responsive-lg table_common_area">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 60px">상품 번호</th>
                                        <th style="width: 200px">이메일</th>
                                        <th>패키지 이름</th>
                                        <th>지역</th>
                                        <th>결제 수단</th>
                                        <th>결제 금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${paging.isEmpty()}"><td colspan="8"> 결제된 상품이 없습니다. </td></tr>
                                <th:block th:each="pay,loop : ${paging}">
                                    <td th:text="${pay.userBooking.apackage.id}"></td>
                                    <td th:text="${pay.member.email}"></td>
                                    <td align="center">
                                        <a style="color: black; display: block; width:300px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" th:text="${pay.userBooking.apackage.packageName}"></a>
                                    </td>
                                    <td th:text="|${pay.userBooking.apackage.location1} ${pay.userBooking.apackage.location2}|"></td>
                                    <td th:text="${pay.payMethod}"/>
                                    <td th:text="${#numbers.formatInteger(pay.payTotalPrice,3,'COMMA') + '원'}">
                                    </td>
                                    </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                            <a type="button" class="btn btn-outline-secondary" href ="http://localhost:8088/admin/sales/package/download?excelDownload=true">Excel</a>
                        </div>
                    </div>
                    <div class="pagination_area" th:if="${!paging.isEmpty()}">
                        <ul class="pagination" th:with="startNumber=${(paging.number/10)}*10+1,endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">
                            <li class="page-item">
                                <a class="page-link" th:href="@{/admin/sales/package/?page=1}" aria-label="Previous">
                                    <span aria-hidden="true">≪</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item" th:style="${paging.first}?'display:none'">
                                <a class="page-link" th:href="@{/admin/sales/package(page=${paging.number})}">＜</a>
                            </li>
                            <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                                th:classappend="(${page}==${paging.number+1})?'active'">
                                <a class="page-link" th:href=@{/admin/sales/package(page=${page})} th:text="${page}"></a>
                            </li>
                            <li class="page-item" th:style="${paging.last}?'display:none'">
                                <a class="page-link" th:href="@{/admin/sales/package(page=${paging.number+2})}">＞</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/admin/sales/package(page=${paging.totalPages})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">≫</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>