<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>



    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>여행후기</h2>
                        <ul>
                            <li><a href="index.html">Review</a></li>
                            <li><span><i class="fas fa-circle"></i></span>Review Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News Area -->
     <section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">
            <div class="dashboard_sidebar_user">
                           
                            <h2>여행후기</h2>
                           
                        </div>

          <div class="dashboard_menu_area">
             <ul>
                                
                                
                                
                                <li><a href="dashboard.html">해외 패키지</a></li>
                                <li><a href="dashboard.html">제주 패키지</a></li>
                                
                               
                            </ul>
          </div>
        </div>
      </div>
                  <div class="col-lg-8-sally">
                    <div class="section_heading_center">
                        <h2>여행 후기</h2>
                    </div>
                
           
            <hr/>
           <div class="row">
                <div class="col-lg-6">
                    <br/><br/>
                    <div class="section_heading_center">
                            <img th:height="280" th:width="450" th:src="@{${review.reviewPackages.photosImagePath1}}">
                        </div>
                </div>

               <div class="col-lg-5">
                    <div class="news_area_top_right">

                      
                                            
                              <br/>          
                            <div class="valid_date_area2">
                         <div class="valid_date_area_one">
                             <h2>&nbsp;</h2>
                             <h5>작성자</h5>
                             <h5>작성일</h5>
                                    </div>
                                <div class="valid_date_area_one">
                                    <h2 align="right"><a th:if="${#lists.size(review.voter)}==0" class="recommend"
                                                         href="javascript:void(0);" th:data-uri="@{|/review/vote/${review.id}|}">

                                        <i class="fa-regular fa-heart"></i></a></h2>

                                    <h2 align="right"><a th:if="${#lists.size(review.voter)}!=0" class="cancel"
                                                         href="javascript:void(0);" th:data-uri="@{|/review/vote/${review.id}|}">
                                        <i class="fas fa-heart"></i></a>
                                    </h2>
                             <h5 th:text="${review.author.name}"></h5>
                             
                             <h5 th:text="${#temporals.format(review.created,'yy-MM-dd')}"></h5>

                                    <script type="text/javascript">
                                        const recommendBtn = document.getElementsByClassName("recommend"); //recommend라는 이름을 가진 특정 클래스에 모두 접근해서 객체화 시켜라
                                        Array.from(recommendBtn).forEach(function(element){ //여러개 있으면 배열로 받아서 하나씩 꺼내고
                                            element.addEventListener('click',function(){ //그 앨리먼트를 클릭했을때
                                                if(confirm("리뷰를 추천하시겠습니까?")){ //이 함수를 실행시켜라 이게 true 이면

                                                    location.href=this.dataset.uri;
                                                }
                                            });
                                        });


                                        const cancelBtn = document.getElementsByClassName("cancel"); //cancel라는 이름을 가진 특정 클래스에 모두 접근해서 객체화 시켜라
                                        Array.from(cancelBtn).forEach(function(element){ //여러개 있으면 배열로 받아서 하나씩 꺼내고
                                            element.addEventListener('click',function(){ //그 앨리먼트를 클릭했을때
                                                if(confirm("리뷰추천을 취소하시겠습니까?")){ //이 함수를 실행시켜라 이게 true 이면

                                                    location.href=this.dataset.uri;
                                                }
                                            });
                                        });

                                    </script>




                                    </div>
                                        </div>

                              <div>
                                <div class="tour_details_heading_wrapper">
                           
                        </div>
                            </div>
                         <hr/>
                        <div th:if="${review.score.toString().equals('5.0')}" class="review_star_all" align="right">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${review.score.toString().equals('4.0')}" class="review_star_all" align="right">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${review.score.toString().equals('3.0')}" class="review_star_all" align="right">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${review.score.toString().equals('2.0')}" class="review_star_all" align="right">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${review.score.toString().equals('1.0')}" class="review_star_all" align="right">
                            <i class="fas fa-star"></i>
                        </div>
                         <div class="valid_date_area">
                                    <div class="valid_date_area_one">
                                        <h5>지   역</h5>
                                        <h5>이용상품</h5>
                                    </div>
                                    <div class="valid_date_area_one">
                                        <h5 th:text="|${review.reviewPackages.location1}&nbsp;${review.reviewPackages.location2}|">제주도</h5>
                                        <h5 th:text="${review.reviewPackages.packageName}">어쩌구 패키지</h5>
                                    </div>
                                
                        </div>
                                       
                           
                             
                        </h2>
                       

                    </div>
                </div>
                       <div class="">
                        <div class="news_item_boxed">
                            <hr/>
                            <div class="news_item_content">
                                <h3 th:text="${review.subject}"></h3>
                                <p th:text="${review.content}"></p>
                                <br/>
                                
                            </div>
                           
                        </div>
                    </div>

                   <div class="col-lg-6">
                       <div class="home_news_big">
                           <div class="">
                              <img th:src="@{${review.photosImagePath}}"/>
                           </div>
                           <br/>
                       </div>
                   </div>

               <div class="comment_form_submit" align="center">
                   <a th:href="@{|/review/update/${id}|}" class="btn btn_theme btn_md" sec:authorize="isAuthenticated()"
                      th:if="${review.author!=null and #authentication.getPrincipal().getUsername()==review.author.email}">수정하기</a>
                   <a th:href="@{|/review/delete/${id}|}" class="btn btn_theme btn_md" sec:authorize="isAuthenticated()"
                      th:if="${review.author!=null and #authentication.getPrincipal().getUsername()==review.author.email}">삭제하기</a>
                   <br/><br/>
               </div>
                        
                        <hr/>

                        <div class="comment_area">
                            <div th:if="${review.replyList.isEmpty()}"><h3>등록된 댓글이 없습니다.</h3></div>
                            <div th:if="${!review.replyList.isEmpty()}"><h3 th:text="|${#lists.size(review.replyList)} 개의 댓글이 있습니다.|"></h3></div>
                            <div class="comment_area_boxed" th:each="reviewReply : ${review.replyList}">
                                <div class="comment_text">
                                    <div class="comment_author_name">
                                        <h4 th:text="${reviewReply.author.name}">배수지</h4> &nbsp;
                                        <h5 th:text="${#temporals.format(reviewReply.created,'yy-MM-dd')}"></h5>&nbsp;
                                        <a th:if="${#lists.size(reviewReply.voter)}==0" class="replyRecommend"
                                           href="javascript:void(0);" th:data-uri="@{|/review/replyVote/${reviewReply.id}|}">

                                            <i class="fa-regular fa-heart"></i>좋아요</a>

                                        <a th:if="${#lists.size(reviewReply.voter)}!=0" class="replyCancel"
                                           href="javascript:void(0);" th:data-uri="@{|/review/replyVote/${reviewReply.id}|}">
                                            <i class="fas fa-heart"></i>좋아요</a>



                                        <a th:href="@{|/review/replyUpdate/${reviewReply.id}|}"
                                           sec:authorize="isAuthenticated()"
                                           th:if="${reviewReply.author!=null and #authentication.getPrincipal().getUsername()==reviewReply.author.email}">수정</a>&nbsp;
                                        <a th:href="@{|/review/replyDelete/${reviewReply.id}|}" sec:authorize="isAuthenticated()"
                                           th:if="${reviewReply.author!=null and #authentication.getPrincipal().getUsername()==reviewReply.author.email}">삭제</a>

                                        <script type="text/javascript">
                                            const replyRecommendBtn = document.getElementsByClassName("replyRecommend");
                                            Array.from(replyRecommendBtn).forEach(function(element){
                                                element.addEventListener('click',function(){
                                                    if(confirm("댓글을 추천하시겠습니까?")){

                                                        location.href=this.dataset.uri;
                                                    }
                                                });
                                            });


                                            const replyCancelBtn = document.getElementsByClassName("replyCancel");
                                            Array.from(replyCancelBtn).forEach(function(element){
                                                element.addEventListener('click',function(){
                                                    if(confirm("댓글추천을 취소하시겠습니까?")){

                                                        location.href=this.dataset.uri;
                                                    }
                                                });
                                            });

                                        </script>


                                    </div>
                                      <p th:text="${reviewReply.content}"></p>
                                </div>
                            </div>



                        </div>

                        <!-- 댓글달기 시작 -->
               <form th:action="@{|/review/reply/${review.id}|}" th:object="${reviewReplyForm}"
                      method="post">
                        <div class="comment_area_form">
                            <h3>댓글달기</h3>

                                <div class="row">
                                   
                                    <div class="col-lg-12">
                                        <div class="form-froup">
                                            <textarea rows="6" placeholder="댓글을 입력해 주세요"
                                                class="form-control bg_input" th:field="*{content}" name="content"></textarea>
                                        </div>
                                        <br/>
                                        <div class="comment_form_submit">
                                            <button class="btn btn_theme btn_md" type="submit">등록하기</button>
                                            <a th:href="@{/review/abroadList}" class="btn btn_theme btn_md">취소하기</a>
                                        </div>
                                    </div>
                                </div>

                            <!-- 댓글달기 끝 -->
                        </div>
               </form>
                    </div>
                </div>
            </div>
          
            <br/>
          
            </div>
    

       
    </section>


</body>


</html>