<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>



    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>News Details</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span>News Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News Area -->
     <section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">
            <div class="dashboard_sidebar_user">
                           
                            <h2>여행후기</h2>
                           
                        </div>

          <div class="dashboard_menu_area">
             <ul>
                                
                                
                                
                                <li><a href="dashboard.html">해외 패키지</a></li>
                                <li><a href="dashboard.html">제주 패키지</a></li>
                                
                               
                            </ul>
          </div>
        </div>
      </div>
                  <div class="col-lg-8-sally">
                    <div class="section_heading_center">
                        <h2>여행 후기</h2>
                    </div>
                
           
            <hr/>
           <div class="row">
                <div class="col-lg-6">
                    <div class="section_heading_center">
                            <a href="news-details.html"><img src="../assets/img/news/news-1.PNG" alt="img"></a>
                        </div>
                </div>

               <div class="col-lg-5">
                    <div class="news_area_top_right">

                      
                                            
                              <br/>          
                            <div class="valid_date_area2">
                         <div class="valid_date_area_one">
                             <h5>작성자</h5>
                             
                             <h5>작성일</h5>
                             <h5>조회수</h5>
                                    </div>
                                <div class="valid_date_area_one">
                             <h5>이정민</h5>
                             
                             <h5>2022.09.27</h5>
                             <h5>6</h5>
                                    </div>
                                        </div>

                              <div>
                                <div class="tour_details_heading_wrapper">
                           
                        </div>
                            </div>
                         <hr/>
                        <div class="review_star_all" align="right">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                         <div class="valid_date_area">
                                    <div class="valid_date_area_one">
                                        <h5>지   역</h5>
                                        <h5>이용상품<h5>
                                    </div>
                                    <div class="valid_date_area_one">
                                        <h5>제주도</h5>
                                        <h5>어쩌구 패키지</h5>
                                    </div>
                                
                        </div>
                                       
                           
                             
                        </h2>
                       

                    </div>
                </div>
                       <div class="">
                        <div class="news_item_boxed">
                            <hr/>
                            <div class="news_item_content">
                                <h3><a href="news-details.html">
                                        이렇게 재밌는 여행은 처음이에요~
                                    </a></h3>
                                <p>짱이에요 짱이에요!짱이에요 짱이에요!짱이에요 짱이에요!
                                짱이에요 짱이에요!짱이에요 짱이에요!짱이에요 짱이에요!
                                짱이에요 짱이에요!짱이에요 짱이에요!짱이에요 짱이에요!
                                짱이에요 짱이에요!짱이에요 짱이에요!</p>
                                <br/>
                                
                            </div>
                           
                        </div>
                    </div>

                   <div class="col-lg-6">
                       <div class="home_news_big">
                           <div class="">
                               <a href="news-details.html"><img src="/assets/img/news/news_details_left.png" alt="img"></a>
                           </div>
                           <br/>
                       </div>
                   </div>
                        
                        <hr/>
                        <div class="comment_area">
                            <h3>2 Comments</h3>
                            <div class="comment_area_boxed">
                               
                                <div class="comment_text">
                                    <div class="comment_author_name">
                                        <h4>배수지</h4>
                                        <a href="#!"> <i class="fas fa-reply-all" ></i> 댓글</a>
                                        <a href="#!"> <i class="fa-regular fa-heart"></i> 좋아요</a>
                                        
                                    </div>
                                      <p>굳굳굳</p>
                                   
                                </div>
                            </div>
                            <div class="comment_area_boxed">
                               
                                <div class="comment_text">
                                    <div class="comment_author_name">
                                        <h4>유인나</h4>
                                        <a href="#!"> <i class="fas fa-reply-all"></i> 댓글</a>
                                        <a href="#!"> <i class="fa-regular fa-heart"></i> 좋아요</a>
                                    </div>
                                    <p>굳굳굳</p>
                                </div>
                            </div>
                        </div>
                   
                        <div class="comment_area_form">
                            <h3>댓글달기</h3>
                            <form action="!#" id="news_comment_form">
                                <div class="row">
                                   
                                    <div class="col-lg-12">
                                        <div class="form-froup">
                                            <textarea rows="6" placeholder="댓글을 입력해 주세요"
                                                class="form-control bg_input"></textarea>
                                        </div>
                                        <div class="comment_form_submit">
                                            <button class="btn btn_theme btn_md">등록하기</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          
            <br/>
          
            </div>
    
  
    
    
    
       
    </section>

</body>

</html>