<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<!-- Common Banner Area -->
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>제주패키지 후기</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- News Area -->
<section id="dashboard_main_arae" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4-sally">
                <div class="dashboard_sidebar">
                    <div class="dashboard_sidebar_user">

                        <h2>여행후기</h2>

                    </div>

                    <div class="dashboard_menu_area">
                        <ul>



                            <li><a th:href="@{/review/abroadList}">해외 패키지</a></li>
                            <li><a th:href="@{/review/jejuList}">제주 패키지</a></li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8-sally">
                <div class="section_heading_center">
                    <h2>제주패키지 후기</h2>
                </div>


                <hr/>
                <div th:each="review,loop : ${paging}" >
                    <div class="row">

                        <div class="col-lg-6">
                            <br/><br/>
                            <div class="section_heading_center">

                                <img th:width="400" th:src="@{${review.reviewPackages.photosImagePath1}}"/>

                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="news_area_top_right">

                                <div class="valid_date_area">
                                    <div class="valid_date_area_one">
                                        <h5>지&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;역</h5>
                                        <h5>이용상품</h5>
                                        <h5>여행기간</h5>
                                    </div>
                                    <div class="valid_date_area_one">
                                        <h5 th:text="|${review.reviewPackages.location1}&nbsp;${review.reviewPackages.location2}|">베트남 다낭</h5>
                                        <h5 th:text="${review.reviewPackages.packageName}"
                                            style="color: black; width:300px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block;">어쩌구 패키지</h5>
                                        <h5 th:text="|${review.reviewPackages.travelPeriod}박 ${review.reviewPackages.travelPeriod+1}일|"></h5>
                                    </div>

                                </div>
                                <hr/>


                                <h2 th:text="${review.subject}"></h2>
                                <div>
                                    <div class="tour_details_heading_wrapper">


                                        <div th:if="${review.score.toString().equals('5.0')}" class="review_star_all" align="right">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div th:if="${review.score.toString().equals('4.0')}" class="review_star_all" align="right">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div th:if="${review.score.toString().equals('3.0')}" class="review_star_all" align="right">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div th:if="${review.score.toString().equals('2.0')}" class="review_star_all" align="right">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div th:if="${review.score.toString().equals('1.0')}" class="review_star_all" align="right">
                                            <i class="fas fa-star"></i>
                                        </div>

                                    </div>
                                </div>
                                <p th:text="${review.content}"
                                   style="color: black; width:500px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block;"></p>
                                <a th:href="@{|/review/article/${review.id}|}">자세히 보기 <i class="fas fa-arrow-right"></i></a>


                                </h2>


                            </div>

                        </div>
                    </div>

                    <hr/>
                </div>
                <div class="col-lg-12" align="center">

                    <div class="option-item">
                        <a th:href="@{/review/write}" class="btn btn_theme btn_md">작성하기</a>
                    </div>

                </div>

                <div class="pagination_area" th:if="${!paging.isEmpty()}">
                    <ul class="pagination" th:with="startNumber=${(paging.number/10)}*10+1,endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{/review/jejuList?page=1}" aria-label="Previous">
                                <span aria-hidden="true">≪</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item" th:style="${paging.first}?'display:none'">
                            <a class="page-link" th:href="@{/review/jejuList(page=${paging.number})}">＜</a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                            th:classappend="(${page}==${paging.number+1})?'active'">
                            <a class="page-link" th:href="@{/review/jejuList(page=${page})}" th:text="${page}"></a>
                        </li>
                        <li class="page-item" th:style="${paging.last}?'display:none'">
                            <a class="page-link" th:href="@{/review/jejuList(page=${paging.number+2})}">＞</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{/review/jejuList(page=${paging.totalPages})}" aria-label="Next">
                                <span aria-hidden="true">≫</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>


</section>


</body>

</html>