<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>회원가입</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Join</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
   <section id="dashboard_main_arae" class="section_padding">
       <form th:action th:object="${memberCreate}" method="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">
            <div class="dashboard_sidebar_user">
                           
                            <h2>My Page</h2>
                           
                        </div>

          <div class="dashboard_menu_area">
              <ul>

                  <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>My profile</b>
                      <span> </span>
                      <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                           style="">
                          <ul>
                              <li><a th:href="@{/mypage/pwdUpdate}">비밀번호 수정</a></li>
                              <li><a th:href="@{/mypage/update}">내 정보 수정</a></li>
                              <li><a th:href="@{/mypage/unregister}">회원 탈퇴</a></li>
                          </ul>
                      </div>

                  </li>
                  <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>예약조회</b>
                      <span> </span>
                      <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                           style="">
                          <ul>
                              <li><a th:href="@{/mypage/bookingList}">예약내역</a></li>
                              <li><a th:href="@{/mypage/cancelList}">취소내역</a></li>
                          </ul>
                      </div>

                  </li>
                  <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>상담내역</b>
                      <span> </span>
                      <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                           style="">
                          <ul>
                              <li><a th:href="@{/mypage/qna}">여행 1:1 문의</a></li>
                              <li><a th:href="@{/mypage/voicecusList}">개선/건의하기</a></li>
                              <li><a th:href="@{/mypage/estimateList}">여행 견적문의</a></li>
                          </ul>
                      </div>

                  </li>

                  <li><a th:href="@{/mypage/point}"><b>마일리지</b></a></li>
                  <li><a th:href="@{/mypage/coupon}"><b>할인쿠폰</b></a></li>


              </ul>
          </div>
        </div>
      </div>
        <div class="col-lg-8-sally">

        <div class="dashboard_common_table">
            <h3>내 정보 수정</h3>
            <br/>
        <div class="container" >
            <div class="row">

                <div class="">
                    <div class="">

                        <div class="booking_tour_form" >
                            
                            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                    <li  style="border-bottom-color: white">

                        <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                            <label style="text-align:center;" th:for="email">이메일</label>
                        </div>
                        <div class="form-group col-lg-7">
                            <input type="email" class="shform-control" th:field="*{email}" style="border-radius: 3px;font-size: 10pt" readonly>
                        </div>&nbsp;&nbsp;


                    </li>
                    <li style="margin-top: -30px">
                        <div class="col-lg-2">
                        </div>

                    </li>


                    <li style="border-bottom-color: white;">
                        <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                            <label th:for="name" style="text-align:center;">이름</label>
                        </div>
                        <div class="form-group col-lg-7">
                            <input type="text" class="shform-control" th:field="*{name}" style="border-radius: 3px; font-size: 10pt" placeholder="이름(실명)">
                        </div>
                    </li>

                    <li style="margin-top: -40px;">
                        <div class="col-lg-2">
                        </div>
                        <div th:if="${#fields.hasErrors('name')}" role="alert">
                            <p style="font-size: 10pt;color: red" th:errors="*{name}" th:text="${err}"></p>
                        </div>
                    </li>

                    <li style="border-bottom-color: white;">
                        <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                            <label th:for="phone_num" style="text-align:center;">연락처</label>
                        </div>
                        <div class="form-group col-lg-5">
                            <input type="text" class="shform-control" th:field="*{phone_num}" name="phone_num" style="border-radius: 3px; font-size: 10pt"
                                    placeholder="휴대폰번호(숫자만 입력)">
                            <input type="hidden" name="phone_num2"  th:value="*{phone_num}" />
                        </div>&nbsp;&nbsp;
                        <div class="">
                            <button class="btn btn_theme" type="button" id="phoneChk" name="phoneChk" style="height: 35px;font-size: 11pt" onclick="mypagePhoneCheck()">인증번호 전송</button>
                        </div>
                    </li>

                    <li style="margin-top: -40px;">
                        <div class="col-lg-2">
                        </div>
                       <!-- <div th:if="${#fields.hasErrors('phone_num')}" role="alert">
                            <p style="font-size: 10pt;color: red" th:errors="*{phone_num}" th:text="${err}"></p>
                        </div>-->
                    </li>

                    <li style=" border-bottom-color: white;">
                        <div class="col-lg-2" style="text-align: center; margin-top: 10px;">
                            <span style="text-align:center;">인증번호</span>
                        </div>
                        <div class="form-group col-lg-5">
                            <input type="text" class="shform-control" id="sms_num" style="border-radius: 3px; font-size: 10pt" placeholder="인증번호 6자리">
                        </div>&nbsp;&nbsp;
                        <div class="">
                            <button class="btn btn_theme" style="height: 35px;font-size: 11pt" type="button" id="checkBtn" >본인확인</button>
                            <input type="hidden" name="checked_phone" value="">
                        </div>
                    </li>

                    <li style="margin-top: -40px;">
                        <div class="col-lg-2">
                        </div>
                        <div>
                            <span class="successPhoneChk" id="successPhoneChk"></span>
                        </div>
                    </li>


                    <li style="border-bottom-color: white;">
                        <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                            <label th:for="birth" style="text-align:center;">생년월일</label>
                        </div>
                        <div class="form-group col-lg-7">
                            <input type="text" class="shform-control" th:field="*{birth}" style="border-radius: 3px; font-size: 10pt" placeholder="생년월일(예: 19900101)">
                        </div>
                    </li>

                    <li style="margin-top: -40px;">
                        <div class="col-lg-2">
                        </div>
                        <div th:if="${#fields.hasErrors('birth')}" role="alert">
                            <p style="font-size: 10pt;color: red" th:errors="*{birth}" th:text="${err}"></p>
                        </div>
                    </li>

                    <li style="border-bottom-color: white;">
                        <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                            <span style="text-align:center;">선호테마</span>
                        </div>

                        <div class="col-lg-2">

                          <input type="checkbox" name="keyword" th:value="healing" th:checked=${#strings.contains(keywords,'healing')} ? 'checked' : ''} >&nbsp;힐링

                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" name="keyword" th:value="activity" th:checked=${#strings.contains(keywords,'activity')} ? 'checked' : ''}>&nbsp;액티비티
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" name="keyword" th:value="golf" th:checked=${#strings.contains(keywords,'golf')} ? 'checked' : ''}>&nbsp;골프
                        </div>
                        <div class="col-lg-2" >
                            <input type="checkbox" name="keyword" th:value="hocance" th:checked=${#strings.contains(keywords,'hocance')} ? 'checked' : ''}>&nbsp;호캉스
                        </div>

                    </li>
                    <li style="border-bottom-color: white; margin-top: -45px">
                        <div class="col-lg-2"></div>

                        <div class="col-lg-2">
                            <input type="checkbox" name="keyword" th:value="family" th:checked=${#strings.contains(keywords,'family')} ? 'checked' : ''}>&nbsp;가족여행
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" name="keyword" th:value="food" th:checked=${#strings.contains(keywords,'food')} ? 'checked' : ''}>&nbsp;식도락여행
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" name="keyword" th:value="culture" th:checked=${#strings.contains(keywords,'culture')} ? 'checked' : ''}>&nbsp;문화/예술
                        </div>
                        <div class="col-lg-2">
                            <input type="checkbox" name="keyword" th:value="animal" th:checked=${#strings.contains(keywords,'animal')} ? 'checked' : ''}>&nbsp;애견동반
                        </div>

                    </li>
                    <li style="margin-top: -30px">
                        <div class="col-lg-2"> </div>
                        <span style="font-size: 11pt; color: grey">최대 3개까지 선택 가능합니다.</span>
                    </li>
                 
             


                </ul>
              </div>
            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="common_form_submit">
            <button class="btn btn_theme btn_md" type="submit" id="signup" onclick="return profileUpdateConfirm();"
                    th:disabled="${social!=null} ? 'disabled' ">수정하기</button>
             <button class="btn btn_theme btn_md">취소</button>
        </div>

</form>
    </section>


</body>

</html>