<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

<!-- Common Banner Area -->
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>나의 여행후기</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="dashboard_main_arae" class="section_padding">
    <form th:action th:object="${pwdUpdateForm}" method="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-4-sally">
                    <div class="dashboard_sidebar">
                        <div class="dashboard_sidebar_user">

                            <h2>My Page</h2>

                        </div>

                        <div class="dashboard_menu_area">
                            <ul>

                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>My profile</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/mypage/pwdUpdate}">비밀번호 수정</a></li>
                                            <li><a th:href="@{/mypage/update}">내 정보 수정</a></li>
                                            <li><a th:href="@{/mypage/unregister}">회원 탈퇴</a></li>
                                        </ul>
                                    </div>

                                </li>
                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>예약현황</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/mypage/bookingList}">예약내역</a></li>
                                            <li><a th:href="@{/mypage/cancelList}">취소내역</a></li>
                                        </ul>
                                    </div>

                                </li>
                                <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>문의내역</b>
                                    <span> </span>
                                    <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                         style="">
                                        <ul>
                                            <li><a th:href="@{/mypage/qna}">QnA</a></li>
                                            <li><a th:href="@{/mypage/voicecusList}">고객의 소리</a></li>
                                            <li><a th:href="@{/mypage/estimateList}">여행 견적문의</a></li>
                                        </ul>
                                    </div>

                                </li>
                                <li><a th:href="@{/mypage/reviewList}" class="active"><b>나의 여행후기</b></a></li>
                                <li><a th:href="@{/mypage/point}"><b>포인트</b></a></li>
                                <li><a th:href="@{/mypage/coupon}"><b>할인쿠폰</b></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
      <div class="col-lg-8-sally">
        <div class="dashboard_common_table">
          <h3>나의 여행후기</h3>
          <div class="table-responsive-lg table_common_area">
            <table class="table">
              <thead>
              <tr>
                  <th width="200">상품명</th>
                  <th width="300">제목</th>
                  <th width="100">별점</th>
                  <th width="100">등록일</th>



              </tr>
              </thead>

              <tbody>
              <tr th:if="${mypageReview.isEmpty()}"><td th:colspan="4">작성하신 여행후기가 없습니다</td></tr>
              <tr th:each="mypageReview : ${mypageReview}">
                  <td align="center"><a style="color: black; display: block; width:200px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" th:text="${mypageReview.reviewPackages.packageName}"
                  th:href="@{|/package/${mypageReview.reviewPackages.id}|}">제주 어쩌구</a></td>
                  <td><a style="color: black;" th:text="${mypageReview.subject}" th:href="@{|/review/article/${mypageReview.id}|}"></a></td>
                  <td th:switch="${mypageReview.score}" class="review_star_all">
                      <span th:case="'1.0'"><i class="fas fa-star"></i></span>
                      <span th:case="'2.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                      <span th:case="'3.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                      <span th:case="'4.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                      <span th:case="'5.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                  </td>
                  <td th:text="${#temporals.format(mypageReview.created,'yyyy-MM-dd')}"></td>
              </tr>



              </tbody>
            </table>
          </div>

        </div>
          <br/><br/><br/>


              <div class="dashboard_common_table">
                  <h3>나의 리뷰</h3>
                  <div class="table-responsive-lg table_common_area">
                      <table class="table">
                          <thead>
                          <tr>
                              <th width="200">상품명</th>
                              <th width="300">내용</th>
                              <th width="100">별점</th>
                              <th width="100">등록일</th>



                          </tr>
                          </thead>

                          <tbody>
                          <tr th:if="${mypageShortR.isEmpty()}"><td th:colspan="4">작성하신 리뷰가 없습니다</td></tr>
                          <tr th:each="mypageShortR : ${mypageShortR}">
                              <td align="center"><a style="color: black; width:200px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block;" th:text="${mypageShortR.packages.packageName}"
                              th:href="@{|/package/${mypageShortR.packages.id}|}">상품명</a></td>
                              <td th:text="${mypageShortR.content}">내용</td>
                              <td th:switch="${mypageShortR.score}" class="review_star_all">
                                <span th:case="'1.0'"><i class="fas fa-star"></i></span>
                                  <span th:case="'2.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                                  <span th:case="'3.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                                  <span th:case="'4.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                                  <span th:case="'5.0'"><i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i></span>
                              </td>
                              <td th:text="${#temporals.format(mypageShortR.created,'yyyy-MM-dd')}"></td>
                          </tr>



                          </tbody>
                      </table>
                  </div>

              </div>
          </div>
    </div>
  </div>
</section>


</body></html>