<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="preloader" style="display: none;">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>


<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>개선/건의하기 문의내역</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span><a href="dashboard.html">Customer
              dashboard</a></li>
            <li><span><i class="fas fa-circle"></i></span>Booking history</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Area -->
<section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">
            <div class="dashboard_sidebar_user">
                           
                            <h2>My Page</h2>
                           
                        </div>

          <div class="dashboard_menu_area">
              <ul>

                  <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>My profile</b>
                      <span> </span>
                      <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                           style="">
                          <ul>
                              <li><a th:href="@{/mypage/pwdUpdate}">비밀번호 수정</a></li>
                              <li><a th:href="@{/mypage/update}">내 정보 수정</a></li>
                              <li><a th:href="@{/mypage/unregister}">회원 탈퇴</a></li>
                          </ul>
                      </div>

                  </li>
                  <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>예약조회</b>
                      <span> </span>
                      <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                           style="">
                          <ul>
                              <li><a th:href="@{/mypage/bookingList}">예약내역</a></li>
                              <li><a th:href="@{/mypage/cancelList}">취소내역</a></li>
                          </ul>
                      </div>

                  </li>
                  <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>상담내역</b>
                      <span> </span>
                      <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                           style="">
                          <ul>
                              <li><a th:href="@{/mypage/qna}">여행 1:1 문의</a></li>
                              <li><a th:href="@{/mypage/voicecusList}">개선/건의하기</a></li>
                              <li><a th:href="@{/mypage/estimateList}">여행 견적문의</a></li>
                          </ul>
                      </div>

                  </li>

                  <li><a th:href="@{/mypage/point}"><b>마일리지</b></a></li>
                  <li><a th:href="@{/mypage/coupon}"><b>할인쿠폰</b></a></li>


              </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8-sally">
          <div class="dashboard_common_table">
          <h3>예약 현황</h3>
          <div class="table-responsive-lg table_common_area">
            <table class="table">
              <thead>
              <tr>
                <th width="130">예약번호</th>
                <th width="130">예약일</th>
                <th width="300">상품명</th>
                <th width="200">출발일</th>
                <th width="100">인원</th>
                <th width="200">총금액</th>
                <th width="200">진행사항</th>


              </tr>
              </thead>
              <tbody>
              <tr th:if="${paging.isEmpty()}"><td colspan="7"> 예약내역이 없습니다. </td></tr>
              <th:block th:each="mypageBooking,loop : ${paging}">
                  <tr>
                      <td th:text="${mypageBooking.id}">예약번호</td>
                      <td th:text="${#temporals.format(mypageBooking.bookingDate,'yyyy-MM-dd')}">예약날짜</td>
                      <td align="center">
                          <a style="color: black;" th:text="${mypageBooking.APackage.packageName}">패키지이름</a>
                      </td>
                      <td th:text="${#temporals.createDate(mypageBooking.arrival,'yyyyMMdd')}">출발일</td>
                      <td th:text="|${mypageBooking.bookingTotalCount}명|">총인원</td>
                      <td th:text="|${mypageBooking.bookingTotalPrice}원|">금액</td>
                      <td th:switch="${mypageBooking.bookingStatus}">
                          <span th:case="'0'">예약확인중</span>
                          <a th:href="@{|/pay/${mypageBooking.id}|}"><span th:case="'1'">결제대기중</span></a>
                          <span th:case="'2'">결제완료</span>
                          <span th:case="'3'">예약취소</span>
                      </td>
                  </tr>
              </th:block>


              </tbody>
            </table>
          </div>

              <div th:align="center" th:if="!${paging.isEmpty()}">
            <span style="font-size: 13pt; color: black">
                            결제대기중인 예약상품은 진행사항을 클릭하여 결제를 완료해 주시기 바랍니다. </span>
              </div>
         
        </div>
          <div class="pagination_area" th:if="${!paging.isEmpty()}">
              <ul class="pagination" th:with="startNumber=${(paging.number/10)}*10+1,endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">
                  <li class="page-item">
                      <a class="page-link" th:href="@{/mypage/bookingList?page=1}" aria-label="Previous">
                          <span aria-hidden="true">≪</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                  <li class="page-item" th:style="${paging.first}?'display:none'">
                      <a class="page-link" th:href="@{/mypage/bookingList(page=${paging.number})}">＜</a>
                  </li>
                  <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                      th:classappend="(${page}==${paging.number+1})?'active'">
                      <a class="page-link" th:href=@{/mypage/bookingList(page=${page})} th:text="${page}"></a>
                  </li>
                  <li class="page-item" th:style="${paging.last}?'display:none'">
                      <a class="page-link" th:href="@{/mypage/bookingList(page=${paging.number+2})}">＞</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" th:href="@{/mypage/bookingList(page=${paging.totalPages})}" aria-label="Next">
                          <span aria-hidden="true">≫</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</section>



</body></html>