<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="preloader" style="display: none;">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>여행 1:1 문의내역</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span><a href="dashboard.html">Customer
              dashboard</a></li>
            <li><span><i class="fas fa-circle"></i></span>Booking history</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Area -->
<section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">
            <div class="dashboard_sidebar_user">
                           
                <h2>My Page</h2>
                           
                  </div>

                  <div class="dashboard_menu_area">
                      <ul>

                          <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>My profile</b>
                              <span> </span>
                              <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                   style="">
                                  <ul>
                                      <li><a th:href="@{/mypage/pwdUpdate}">비밀번호 수정</a></li>
                                      <li><a th:href="@{/mypage/update}">내 정보 수정</a></li>
                                      <li><a th:href="@{/mypage/unregister}">회원 탈퇴</a></li>
                                  </ul>
                              </div>

                          </li>
                          <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>예약조회</b>
                              <span> </span>
                              <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                   style="">
                                  <ul>
                                      <li><a th:href="@{/mypage/bookingList}">예약내역</a></li>
                                      <li><a th:href="@{/mypage/cancelList}">취소내역</a></li>
                                  </ul>
                              </div>

                          </li>
                          <li class="dashboard_dropdown_button" id="dashboard_dropdowns"><b>상담내역</b>
                              <span> </span>
                              <div class="booing_sidebar_dashboard" id="show_dropdown_item"
                                   style="">
                                  <ul>
                                      <li><a th:href="@{/mypage/qna}">여행 1:1 문의</a></li>
                                      <li><a th:href="@{/mypage/voicecusList}">개선/건의하기</a></li>
                                      <li><a th:href="@{/mypage/estimateList}">여행 견적문의</a></li>
                                  </ul>
                              </div>

                          </li>

                          <li><a th:href="@{/mypage/point}"><b>마일리지</b></a></li>
                          <li><a th:href="@{/mypage/coupon}"><b>할인쿠폰</b></a></li>


                      </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8-sally">
        <div class="dashboard_common_table">
          <h3>여행 1:1 문의내역</h3>
          <div class="table-responsive-lg table_common_area">
            <table class="table">
              <thead>
              <tr>
                <th width="130">글번호</th>
                <th width="680">제목</th>
<!--                <th width="200">답변여부</th>-->
                <th width="200">작성일</th>



              </tr>
              </thead>
              <tbody>
              <tr th:if="${paging.isEmpty()}"><td colspan="4"> 작성하신 Q&A가 없습니다. </td></tr>
              <th:block th:each="mypageQna,loop : ${paging}">
                  <tr>
                      <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
                      <td align="left">
                          <a style="color: black;" th:href="@{|/qna/question/article/${mypageQna.id}|}" th:text="${mypageQna.subject}"></a>
                      </td>
<!--                      <td th:if="${!mypageQna.isEmpty()}">답변완료</td>-->
<!--                      <td th:if="${mypageVcus.voiceCusReplyList.isEmpty()}">답변대기중</td>-->
                      <td th:text="${#temporals.format(mypageQna.created,'yyyy-MM-dd')}"></td>
                  </tr>
              </th:block>

              </tbody>
            </table>
          </div>
          <div class="option-item">
            <a th:href="@{/qna/question/write}" class="btn  btn_navber">글올리기</a>
          </div>
        </div>
          <div class="pagination_area" th:if="${!paging.isEmpty()}">
              <ul class="pagination" th:with="startNumber=${(paging.number/10)}*10+1,endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">
                  <li class="page-item">
                      <a class="page-link" th:href="@{/mypage/qna?page=1}" aria-label="Previous">
                          <span aria-hidden="true">≪</span>
                          <span class="sr-only">Previous</span>
                      </a>
                  </li>
                  <li class="page-item" th:style="${paging.first}?'display:none'">
                      <a class="page-link" th:href="@{/mypage/qna(page=${paging.number})}">＜</a>
                  </li>
                  <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                      th:classappend="(${page}==${paging.number+1})?'active'">
                      <a class="page-link" th:href=@{/mypage/qna(page=${page})} th:text="${page}"></a>
                  </li>
                  <li class="page-item" th:style="${paging.last}?'display:none'">
                      <a class="page-link" th:href="@{/mypage/qna(page=${paging.number+2})}">＞</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" th:href="@{/mypage/qna(page=${paging.totalPages})}" aria-label="Next">
                          <span aria-hidden="true">≫</span>
                          <span class="sr-only">Next</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</section>




</body></html>