<div th:fragment="footer">
  <section id="cta_area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="cta_left">
            <div class="cta_icon">
              <img src="/assets/img/common/call.png" alt="icon">
            </div>
            <div class="cta_content">
              <h2>여행 상담</h2><br/>
              <h4><b>· 상담시간</b></h4>
              <h4>&nbsp;&nbsp;평일 오전 9시 ~ 오후 6시</h4>
              <h4>&nbsp;&nbsp;(토,일요일 및 공휴일 휴무)</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cat_form">
            <form >
              <div class="input-group">
                <p><img src="/assets/img/common/baggage.png" alt="icon"></p>
                <h2><br/>해외 패키지</h2>
                <h2>&nbsp;&nbsp;&nbsp;▶1544-8282</h2>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cat_form">
            <form>
              <div class="input-group">
                <p><img src="/assets/img/common/baggage.png" alt="icon"></p>
                <h2><br/>국내 패키지</h2>
                <h2>&nbsp;&nbsp;&nbsp;▶1544-8282</h2>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<footer id="footer_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="footer_heading_area">
          <h5>도움이 필요하세요?</h5>
        </div>
        <div class="footer_first_area">
          <div class="footer_inquery_area">
            <h5>24시 상담</h5>
            <h3> <a href="tel:+00-123-456-789">02-6255-8092</a></h3>
          </div>
          <div class="footer_inquery_area">
            <h5>이메일 문의</h5>
            <h3> <a href="mailto:support@domain.com">support@easyupclass.com</a></h3>
          </div>
          <div class="footer_inquery_area">
            <h5>주소</h5>
            <h4> <a href="mailto:support@domain.com">서울특별시 강남구 테헤란로124 4층</a></h4>
          </div>
        </div>
      </div>

      <div class="col-lg-2 offset-lg-1 col-md-4 col-sm-6 col-12">
        <div class="footer_heading_area">
          <h5>해외여행</h5>
        </div>
        <div class="footer_link_area">
          <ul>
            <li><a th:href="@{/package/abroad(location='유럽')}">유럽</a></li>
            <li><a th:href="@{/package/abroad(location='미국')}">미국</a></li>
            <li><a th:href="@{/package/abroad(location='아시아')}">아시아</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="footer_heading_area">
          <h5>제주여행</h5>
        </div>
        <div class="footer_link_area">
          <ul>
            <li><a th:href="@{/package/jeju(location='서귀포')}">서귀포</a></li>
            <li><a th:href="@{/package/jeju(location='중문')}">중문</a></li>
            <li><a th:href="@{/package/jeju(location='애월')}">애월</a></li>
            <li><a th:href="@{/package/jeju(location='제주시')}">제주시</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="footer_heading_area">
          <h5>고객센터</h5>
        </div>
        <div class="footer_link_area">
          <ul>
            <li><a href="top-destinations-details.html">공지사항</a></li>
            <li><a th:href="@{/qna/list}">QnA</a></li>
            <li><a href="flight-search-result.html">FaQ</a></li>
            <li><a th:href="@{/estimate/list}">견적문의</a></li>
            <li><a th:href="@{/voiceCus/list}">고객의소리</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12">
        <div class="footer_heading_area">
          <h5>마이페이지</h5>
        </div>
        <div class="footer_link_area">
          <ul>
            <li><a href="room-details.html">내정보</a></li>
            <li><a href="hotel-details.html">예약조회</a></li>
            <li><a href="hotel-booking.html">문의내역</a></li>
            <li><a href="tour-search.html">포인트</a></li>
            <li><a href="tour-booking.html">할인쿠폰 </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="go-top">
    <i class="fas fa-chevron-up"></i>
    <i class="fas fa-chevron-up"></i>
  </div>
</footer>
</div>
