<div th:fragment="link_script">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>여행어때</title>
    <!-- 공통 -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/assets/css/fontawesome.all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <!-- popup css -->
    <link rel="stylesheet" href="/assets/css/popup.css"/>
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- Rangeslider css -->
    <link rel="stylesheet" href="/assets/css/nouislider.css">
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <!-- navber css -->
    <link rel="stylesheet" href="/assets/css/navber.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!-- Style css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <!-- DatePicker -->
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">

    <!-- 별점 -->
    <link rel="stylesheet" href="/assets/css/star.css">

  </head>



  <script src="/assets/js/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap js -->
  <script src="/assets/js/bootstrap.bundle.js"></script>
  <!-- Meanu js -->
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <!-- Meanu js -->
  <script src="/assets/js/jquery.meanmenu.js"></script>
  <!-- owl carousel js -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <!-- wow.js -->
  <script src="/assets/js/wow.min.js"></script>
  <!-- Custom js -->
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/add-form.js"></script>
  <script src="/assets/js/form-dropdown.js"></script>
  <script src="/assets/js/video.js"></script>



  <!-- Range js -->
  <script src="/assets/js/nouislider.min.js"></script>
  <script src="/assets/js/wNumb.js"></script>
  <!-- 정민이 하트아이콘 -->
  <script src="https://kit.fontawesome.com/1e250e6c1f.js" crossorigin="anonymous"></script>

  <!--booking-->
  <script src="/assets/js/booking-user-info.js"></script>
  <script src="/assets/js/booking-check.js"></script>
  <script src="/assets/js/booking-agree-check.js"></script>
  <script src="/assets/js/booking-coupon-apply.js"></script>

  <script src="/assets/js/join-phone.js"></script>
  <script src="/assets/js/login-searchId.js"></script>
  <script src="/assets/js/login-searchPwd.js"></script>
  <script src="/assets/js/join-chk-confirm.js"></script>
  <script src="/assets/js/join-checkbox.js"></script>
  <script src="/assets/js/join-email.js"></script>
  <script src="/assets/js/join-birth-pwd.js"></script>

  <!-- 고객의 소리 -->
  <script src="/assets/js/voicecus-search.js"></script>

 <!--payment-->
  <script src="/assets/js/payment-point-apply.js"></script>
  <script src="/assets/js/payment-payMethod.js"></script>
  <script src="/assets/js/payment-form.js"></script>

  <!--payment : 간편결제 -->
  <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <!--notice-->
  <script src="/assets/js/notice-reply-update.js"></script>
  <script src="/assets/js/notice-reply-delete.js"></script>
  <script src="/assets/js/notice-recommend.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/assets/js/notice-write-form.js"></script>
  <script src="/assets/js/notice-pin-check.js"></script>
  <script src="/assets/js/notice-reply.js"></script>
  <script src="/assets/js/notice-category-filter.js"></script>
  <script src="/assets/js/notice-search.js"></script>




  <!-- 패키지리스트 가격 범위 슬라이더-->
  <link rel="stylesheet" href="/assets/css/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- DatePicker -->
  <script src="/assets/js/bootstrap-datepicker.js"></script>
  <script src="/assets/js/bootstrap-datepicker.ko.js"></script>
  <script src="/assets/js/calendar.js"></script>

  <!-- 별점 -->
  <script src="/assets/js/star.js"></script>

  <!-- 패키지검색 -->
  <script src="/assets/js/jejuSearchPackage.js"></script>

  <!-- 회원탈퇴 -->
  <script src="/assets/js/unregister-check.js"></script>

  <!-- 회원정보수정 -->
  <script src="/assets/js/profileUpdate-check.js"></script>
  <script src="/assets/js/mypage-phoneCheck.js"></script>

  <!-- 리뷰 추천 -->
  <script src="/assets/js/review-recommend.js"></script>

  <!-- 위시리스트 -->
  <script src="/assets/js/package-wishList.js"></script>


  <!-- 쇼트리뷰 -->
  <script src="/assets/js/shortreview.js"></script>
  <script src="/assets/js/shortreview-update.js"></script>
  <script src="/assets/js/shortreview-delete.js"></script>

  <!-- 관리자 회원 예약 승인 -->
  <script src="/assets/js/admin-remaincount.js"></script>

  <!-- 리뷰댓글 -->
  <script src="/assets/js/review-reply.js"></script>


</div>

