<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>공지사항</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span> Package</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">
  <form th:object="${noticeForm}" method="post" enctype="multipart/form-data">
  <div class="col-lg-8">
  </div>
  <div class="container" style="margin: auto; width: 70%">
    <div class="row">
      <div class="col-lg-13">
        <div class="tou_booking_form_Wrapper">

          <div class="booking_tour_form">
            <h3 class="heading_theme">공지사항</h3>

            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                    <span style="text-align:center;margin-top: 15px">제목</span>
                    </div>
                    <div class="form-group col-lg-7">
                    <span><input type="text" class="shform-control" th:field="*{subject}" style="border-radius: 3px"></span>
                      <span><input type="checkbox" th:field="${noticeForm.pin}" onclick="pinCheck(this);">이 글을 상단에 고정하기(최대 3개)</span>
                      <input type="hidden" th:value="${pinCount}" id="pinCount"/>
                    </div>
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">작성자</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><a class="shform-control" name="" style="border-radius: 3px" >관리자</a></span>
                    </div>
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">분류</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span>
                        <select class="form-select" style="border-radius: 3px" aria-label="Default select example" id="categorychk" th:field="*{category}">
                          <option selected value="nochoice">카테고리를 선택하세요</option>
                          <option value="여행기획전">여행기획전</option>
                          <option value="이벤트쿠폰">이벤트/쿠폰</option>
                          <option value="기타">기타</option>
                        </select>
                      </span>
                    </div>
                  </li>
                    
                    <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">사진업로드</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><input type="file" class="shform-control" id="fileName" name="fileName"
                                   style="border-radius: 3px" accept="image/png, image/jpeg"></span>
                    </div>
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">내용</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><textarea type="text" class="shform-control" th:field="*{content}" style="border-radius: 3px" rows="7"></textarea></span>
                      <span><input type="checkbox" id="couponBtn" onclick="couponBtn();">쿠폰 발급 버튼 만들기</span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="common_form_submit">
    <button th:if="${status}!='modify'" class="btn btn_theme btn_md" type="submit" onclick="return noticeConfirm();">등록하기</button>
    <button th:if="${status}=='modify'" class="btn btn_theme btn_md" type="submit" onclick="return noticeModify();">수정하기</button>
    <a class="btn btn_theme btn_md" th:href="@{/notice/list}"> 취소하기</a>
  </div>
  </form>
</section>
</body></html>