<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>공지사항</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span> Package</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">
  <div class="col-lg-8">
  </div>
  <div class="container" style="margin: auto; width: 70%">
    <div class="row">

      <div class="col-lg-13">
        <div class="tou_booking_form_Wrapper">

          <div class="booking_tour_form">
            <h3 class="heading_theme">공지사항</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                    <span style="text-align:center;margin-top: 15px">제목</span>
                    </div>
                    <div class="form-group col-lg-7">
                    <span><input type="text" class="shform-control" name="" style="border-radius: 3px"></span>
                    </div>
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">작성자</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><input type="text" class="shform-control" name="" style="border-radius: 3px"></span>
                    </div>
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">분류</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span>
                        <select class="form-select" style="border-radius: 3px" aria-label="Default select example">
                          <option selected>질문 카테고리를 선택하세요</option>
                          <option value="해외">이벤트</option>
                          <option value="제주">공지사항</option>
                          <option value="기타">기타</option>
                        </select>
                      </span>
                    </div>
                  </li>
                    
                    <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">파일업로드</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><input type="file" class="shform-control" name="" style="border-radius: 3px"></span>
                    </div>
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">내용</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><textarea type="text" class="shform-control" name="" style="border-radius: 3px" rows="7"></textarea></span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="common_form_submit">
    <button class="btn btn_theme btn_md">등록하기</button>
  </div>

</section>


<!-- Cta Area -->
<section id="cta_area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="cta_left">
          <div class="cta_icon">
            <img src="assets/img/common/email.png" alt="icon">
          </div>
          <div class="cta_content">
            <h4>Get the latest news and offers</h4>
            <h2>Subscribe to our newsletter</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="cat_form">
          <form id="cta_form_wrappper">
            <div class="input-group"><input type="text" class="form-control" placeholder="Enter your mail address"><button class="btn btn_theme btn_md" type="button">Subscribe</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


</body></html>