<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body>
<!-- preloader Area -->
<!-- Header Area -->
  <!-- Top Bar -->
  <!-- Navbar Bar -->
<!-- search -->
<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>공지사항</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span><a href="dashboard.html">Customer
              dashboard</a></li>
            <li><span><i class="fas fa-circle"></i></span>Booking history</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Area -->
<section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">

          <div class="dashboard_menu_area">
            <ul>
              <li><a href="dashboard.html" class="active">공지사항</a></li>

              <li><a href="dashboard.html">고객의소리</a></li>
              <li><a href="dashboard.html">QnA</a></li>
              <li><a href="dashboard.html">FAQ</a></li>
              <li><a href="dashboard.html">여행후기</a></li>
              <li><a href="dashboard.html">1:1 문의</a></li>
              <li><a href="dashboard.html">견적문의</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8-sally">
        <div class="dashboard_common_table">
          <h3>공지사항</h3>
          <div class="table-responsive-lg table_common_area">
            <table class="table">
              <thead>
              <tr>
                <th width="130">글번호</th>
                <th width="500">제목</th>
                <th width="130">글쓴이</th>
                <th width="180">작성일</th>
                <th>조회수</th>


              </tr>
              </thead>
              <tbody>
              <tr>
                <td>06.</td>
                <td align="left">2022년 3분기 가을여행이벤트안내</td>
                <td>관리자</td>
                <td>2022-09-25</td>
                <td>10</td>




              </tr>
              <tr>
                <td>05.</td>
                <td align="left">
                  제주도 골프패키지 NEW 오픈이벤트</td>
                <td>관리자</td>
                <td>2022-09-26</td>
                <td>10</td>




              </tr>
              <tr>
                <td>04.</td>
                <td align="left">굿바이 코로나 이벤트</td>
                <td>관리자</td>
                <td>2022-09-25</td>
                <td>10</td>

              </tr>

              <tr>
                <td>03.</td>
                <td align="left">
                  홈페이지 리뉴얼 안내</td>
                <td>관리자</td>
                <td>2022-09-26</td>
                <td>10</td>





              </tr>
              <tr>
                <td>02.</td>
                <td align="left">공지사항</td>
                <td>관리자</td>
                <td>2022-09-25</td>
                <td>10</td>





              </tr>
              <tr>
                <td>01.</td>
                <td align="left">
                  홈페이지 오픈이벤트</td>
                <td>관리자</td>
                <td>2022-09-26</td>
                <td>10</td>





              </tr>
              </tbody>
            </table>
          </div>
          <div class="option-item">
            <a href="become-vendor.html" class="btn  btn_navber">글올리기</a>
          </div>
            
        </div>
        <div class="pagination_area">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

</body></html>