<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


</head>

<body>

<!-- Common Banner Area -->
<section id="common_banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>공지사항</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><span><i class="fas fa-circle"></i></span> Package</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">
    <div class="col-lg-8">
    </div>
    <div class="container" style="margin: auto; width: 70%">
        <div class="row">

            <div class="col-lg-13">
                <div class="tou_booking_form_Wrapper">

                    <div class="booking_tour_form">
                        <h3 class="heading_theme">공지사항</h3>
                        <div class="tour_booking_form_box">
                            <div class="your_info_arae">
                                <ul>
                                    <li>
                                        <span style="font-size: 15pt;margin: auto" th:text="${notice.subject}">굿바이 코로나 이벤트</span></li>

                                    <li><span style="text-align:center;width: 14%">작성자</span>
                                        <span>관리자</span>
                                        <span style="width: 38%"></span>
                                        <colspan style="text-align:center;width: 100px">분류</colspan>
                                        <span th:text="${notice.category}">행사/이벤트</span></li>

                                    <li><span style="text-align:center;width: 14%">작성일</span>
                                        <span th:text="${#temporals.format(notice.created,'yyyy-MM-dd HH:mm')}">2022.09.26</span>
                                        <span style="width: 30%"></span>
                                        <colspan style="text-align:center;width: 100px">조회수</colspan>
                                        <span th:text="${notice.hitCount}">10</span></li>


                                    <li><span style="padding: 20px 80px 20px 0px;" valign="top" height="200"></span>
                                        <div class="col-lg-8">
                                         <textarea class="form-control" type="text" rows="8" style="padding-left: 20px;
                                            resize: none;border: none; background-color: #FFFFFF" readonly="readonly"
                                                   th:text="${notice.content}"></textarea>
                                            <div class="">
                                            <span><h5> <img th:src="${url}" th:height="30" th:width="30"/>이 글이 도움되었습니다.<br/></h5></span>
                                            <br/><br/>
                                            </div>
                                        </div>
                                    </li>

                                    <!--보내는 데이터-->
                                    <input type="hidden" th:value="${notice.id}" id="noticeNum">
                                    <input type="hidden" th:value="${recommendStatus}" id="recommendStatus">

                                    <li>
                                        <span th:if="${afterSubject}==''" style="padding-left: 50px;padding-right: 30px;"
                                              th:text="|다음글 : ${afterSubject}|"> </span>
                                        <a th:href="@{|/notice/article/${notice.id+1}|}"><span th:if="${afterSubject}!=''" style="padding-left: 50px;padding-right: 30px;"
                                                                                               th:text="|다음글 : ${afterSubject}|" ></span></a>
                                    </li>

                                    <li>
                                        <span th:if="${beforeSubject}==''" style="padding-left: 50px;padding-right: 30px;"
                                              th:text="|이전글 : ${beforeSubject}|"> </span>
                                        <a th:href="@{|/notice/article/${notice.id-1}|}" ><span th:if="${beforeSubject}!=''" style="padding-left: 50px;padding-right: 30px;"
                                                                                                th:text="|이전글 : ${beforeSubject}|" ></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button type="button" sec:authorize="hasRole('ADMIN')" th:onclick="|location.href='@{|/notice/modify/${notice.id}|}'|" class="btn btn-outline-secondary">수정</button>
        <button type="button" sec:authorize="hasRole('ADMIN')" th:onclick="|location.href='@{|/notice/delete/${notice.id}|}'|" class="btn btn-outline-secondary">삭제</button>


        <!--댓글-->
        <hr/>

        <!--댓글출력-->
        <div class="comment_area" id="commentTable">

            <div class="comment_area_boxed" th:each="comment,loop:${commentList}">
                <div class="comment_text">
                    <div class="comment_author_name">
                    <form method="POST">
                        <div>
                            <button type="button" class="btn p-0 btn-md" name="commentID">버튼</button>
                            <h5 th:text="${#temporals.format(comment.created,'yyyy-MM-dd HH:mm')}"></h5>
                        </div>
                        <div th:text="${comment.content}"></div>
                        <div class="text-right">
                            <span><button type="submit" name="submit" value="update">수정</button></span>
                            <span><button type="submit" name="submit" value="delete">삭제</button></span>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <!--댓글작성-->
        <div class="comment_area_form">
            <form method="POST" onsubmit="return replyConfirm(event);" id="commentForm">
                <h4 style="color:#99E000;">댓글달기</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-froup">
                                <textarea rows="1" placeholder="댓글을 입력해 주세요"
                                class="form-control bg_input" name="CONTENT" id="content"></textarea></div>
                        <br/>
                        <div class="comment_form_submit">
                            <button type="button" class="btn btn-outline-secondary" onclick="return replyConfirm(event);">등록하기</button>
                        </div>

                        <!--넘길데이터-->
                        <input type="hidden" id="memberNum" name="memberNum" th:value="${member.id}">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="common_form_submit">
        <button class="btn btn_theme btn_md" th:onclick="|location.href='@{/notice/list}'|">리스트</button>
    </div>

</section>

</body></html>