<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body>

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>공지사항</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span><a href="dashboard.html">Customer
              dashboard</a></li>
            <li><span><i class="fas fa-circle"></i></span>Booking history</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Area -->
<section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">

          <div class="dashboard_menu_area">
            <ul>
              <li><a href="dashboard.html" class="active">공지사항</a></li>

              <li><a href="dashboard.html">고객의소리</a></li>
              <li><a href="dashboard.html">QnA</a></li>
              <li><a href="dashboard.html">FAQ</a></li>
              <li><a href="dashboard.html">여행후기</a></li>
              <li><a href="dashboard.html">1:1 문의</a></li>
              <li><a href="dashboard.html">견적문의</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8-sally">
        <div class="dashboard_common_table">
          <h3>공지사항</h3>
          <div class="table-responsive-lg table_common_area">
            <table class="table">
              <thead>
              <tr>
                <th width="100">글번호</th>
                <th width="180">분류</th>
                <th width="500">제목</th>
                <th width="130">글쓴이</th>
                <th width="180">작성일</th>
                <th width="130">조회수</th>


              </tr>
              </thead>
              <tr th:if="${paging.isEmpty()}"><td colspan="5"> 게시글이 없습니다. </td></tr>
              <th:block th:each="notice,loop : ${paging}">
                <tr>
                  <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
                  <td th:if="${notice.category=='여행기획전'}">여행기획전</td>
                  <td th:if="${notice.category=='이벤트쿠폰'}">이벤트/쿠폰</td>
                  <td th:if="${notice.category=='기타'}">기타</td>
                  <td th:align="left">
                    <a sec:authorize="isAuthenticated()" th:href="@{|/notice/article/${notice.id}|}" th:text="${notice.subject}"></a>
                    <a sec:authorize="isAnonymous()" th:text="${notice.subject}"></a>
                  </td>
                  <td>관리자</td>
                  <td th:text="${#temporals.format(notice.created,'yyyy-MM-dd HH:mm')}">2022-09-25</td>
                  <td th:text="${notice.hitCount}">0</td>

                </tr>
            </table>
          </div>
          <div class="option-item">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/notice/write}" class="btn btn_navber">글올리기</a>
          </div>
            
        </div>

        <div class="col-lg-12" th:if="${!paging.isEmpty()}">
          <div class="pagination_area">
            <ul class="pagination" th:with="startNumber=${(paging.number/10)}*10+1,
                    endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">

              <li><a class="page-link" th:href="@{/notice/list?page=1}">&laquo;</a></li>

              <li class="page-item" th:style="${paging.first}?'display:none'">
                <a class="page-link" th:href="@{/notice/list(page=${paging.number})}">&lsaquo;</a>
              </li>

              <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                  th:classappend="(${page}==${paging.number+1})?'active'">
                <a class="page-link" th:href="@{/notice/list(page=${page})}" th:text="${page}"></a>
              </li>

              <li class="page-item" th:style="${paging.last}?'display:none'">
                <a class="page-link" th:href="@{/notice/list(page=${paging.number+2})}">&rsaquo;</a>
              </li>

              <li class="page-item">
                <a class="page-link" th:href="@{/notice/list(page=${paging.totalPages})}" >&rsaquo;</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

</body></html>