<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <!-- preloader Area -->


    <!-- search -->

    <!-- Common Banner Area -->
    <section id="common_banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>회원가입</h2>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Join</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
    <section id="tour_booking_submission" class="section_padding" style="margin: auto">
        <div class="col-lg-12">
        </div>
        <form th:action="@{/join}" th:object="${memberCreate}" method="post">
        <div class="container" style="padding-left: 120px; width: 70%">
            <div class="row">

                <div class="col-lg-10">
                    <div class="tou_booking_form_Wrapper">

                        <div class="booking_tour_form" >
                            <h3 class="heading_theme">회원가입</h3>
                            <div class="tour_booking_form_box">


              <div class="your_info_arae">
                <ul>
                  <li  style="border-bottom-color: white">

                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                    <label style="text-align:center;" th:for="email">이메일</label>
                    </div>
                    <div class="form-group col-lg-7">
                    <input type="email" class="shform-control" th:field="*{email}" style="border-radius: 3px;font-size: 10pt" placeholder="이메일을 입력해주세요(예: abc123@naver.com)">
                    </div>&nbsp;&nbsp;

                      <div class="">
                        <button class="btn btn_theme" style="height: 35px;font-size: 11pt" type="button" th:onclick="emailCheck()">중복확인</button>
                      </div>
                  </li>
                    <li style="margin-top: -30px">
                        <div class="col-lg-2">
                        </div>
                        <div>
                        <span id="emailAvailable" class="valid-feedback" style="display: none"></span><span id="emailNotAvailable" class="invalid-feedback" style="display: none"></span>
                        </div>
                    </li>


                    
                <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                      <span style="text-align:center;">비밀번호</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <input type="text" class="shform-control" th:field="*{password1}" style="border-radius: 3px; font-size: 10pt" placeholder="비밀번호(영문 숫자 특수문자 조합,8~16자리)">
                    </div>
                  </li>
                   
                   <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                      <span style="text-align:center;">비밀번호<br/>재확인</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <input type="text" class="shform-control" th:field="*{password2}" style="border-radius: 3px; font-size: 10pt;margin-top: 15px" placeholder="비밀번호 확인">
                    </div>
                  </li>
                    
                <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                      <span style="text-align:center;">이름</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <input type="text" class="shform-control" th:field="*{name}" style="border-radius: 3px; font-size: 10pt" placeholder="이름(실명)">
                    </div>
                  </li>
                   
                    <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                      <span style="text-align:center;">연락처</span>
                    </div>
                    <div class="form-group col-lg-5">
                      <input type="text" class="shform-control" th:field="*{phone_num}" style="border-radius: 3px; font-size: 10pt" placeholder="휴대폰번호(숫자만 입력)">
                    </div>&nbsp;&nbsp;
                    <div class="">
                    <button class="btn btn_theme" style="height: 35px;font-size: 11pt">인증번호 받기</button>
                    </div>
                  </li>    
                    
                    <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                      <span style="text-align:center;">인증번호</span>
                    </div>
                    <div class="form-group col-lg-5">
                      <input type="text" class="shform-control" name="" style="border-radius: 3px; font-size: 10pt" placeholder="인증번호 6자리">
                    </div>
                  </li>    
                    
                    
                    <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                      <span style="text-align:center;">생년월일</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <input type="text" class="shform-control" th:field="*{birth}" style="border-radius: 3px; font-size: 10pt" placeholder="생년월일(예: 19900101)">
                    </div>
                  </li>
                 
                     <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 70px">
                      <span style="text-align:center;">약관 동의</span>
                    </div>
                    <div class="form-group col-lg-7">
                     
                     <div style="margin-bottom: 10px">
                         <span style="font-size: 11pt;margin-left: 130px;">
                             <input type="checkbox"/>&nbsp;&nbsp;(필수) 약관 모두 동의
                         </span>
                         </div>
                         
                      <div class="col-lg-20" style="height: 150px; border: 1px solid silver">
                       <div style="margin-bottom: 10px; margin-top: 10px">
                        <span style="font-size: 11pt;margin-left: 10px; ">
                             <input type="checkbox"/>&nbsp;&nbsp;(필수) 약관 모두 동의
                         </span><br/>
                        </div>
                        
                        <div style="margin-bottom: 10px;">
                        <span style="font-size: 11pt;margin-left: 10px; ">
                             <input type="checkbox"/>&nbsp;&nbsp;(필수) 만14세 이상 확인
                         </span><br/>
                        </div>
                        
                        <div style="margin-bottom: 10px;">
                        <span style="font-size: 11pt;margin-left: 10px; ">
                             <input type="checkbox"/>&nbsp;&nbsp;(필수) 개인정보 수집 및 이용동의
                         </span><br/>
                        </div>
                        
                        <div style="margin-bottom: 10px;">
                        <span style="font-size: 11pt;margin-left: 10px; ">
                             <input type="checkbox"/>&nbsp;&nbsp;(선택) 개인정보 수집 및 이용동의
                         </span><br/>
                        </div>

                      </div>
                    </div>
                  </li>
                  
                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 10px">
                      <span style="text-align:center;">선호테마</span>
                    </div>

                      <div class="col-lg-10">
                      <input type="checkbox">&nbsp;힐링
                      <input type="checkbox">&nbsp;액티비티
                      <input type="checkbox">&nbsp;골프
                      <input type="checkbox">&nbsp;호캉스
                     </div>
                  </li>
                    <li>
                        <div class="col-lg-2"></div>

                      <input type="checkbox">&nbsp;가족여행
                      <input type="checkbox">&nbsp;식도락여행
                      <input type="checkbox">&nbsp;문화/예술
                      <input type="checkbox">&nbsp;애견동반

                    </li>
                        <span style="margin: auto"><br/>최대 3개까지 선택 가능합니다.</span>


                </ul>
              </div>
            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="common_form_submit">
            <button class="btn btn_theme btn_md" type="submit">가입하기</button>
        </div>
        </form>
    </section>


    <!-- Cta Area -->


    <!-- Footer  -->
</body>
</html>