<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org"> <!-- 템플릿 엔진 선언 -->
<body>
<!-- Common Banner Area -->
<section id="common_banner" style="background-image: url('/assets/img/banner/jeju.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_bannner_text">
                    <h2>제주여행 패키지</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <form th:action="@{/package/jeju}" th:object="${searchForm}" method="get">
<!-- Form Area -->
<div id="theme_search_form_tour" class="fligth_top_search_main_form_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="theme_search_form_area">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flight_categories_search">
                                        <ul class="nav nav-tabs" role="tablist">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content" id="myTabContent1">
                                <div class="tab-pane fade show active" id="oneway_flight" role="tabpanel"
                                     aria-labelledby="oneway-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="oneway_search_form">

                                                    <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                                            <div class="flight_Search_boxed">
                                                                <p>지역</p>
                                                                <select th:field="*{location}" >
                                                                    <option value="">지역을 선택해주세요</option>
                                                                    <option th:value="서귀포">서귀포</option>
                                                                    <option th:value="중문">중문</option>
                                                                    <option th:value="애월">애월</option>
                                                                    <option th:value="제주시">제주시</option>
                                                                </select>
                                                                <div class="plan_icon_posation">
                                                                    <i class="fas fa-plane-departure"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4  col-md-6 col-sm-12 col-12">
                                                            <div class="form_search_date">
                                                                <div class="flight_Search_boxed date_flex_area">
                                                                    <div class="Journey_date" >
                                                                        <p>출발예정일</p>
                                                                        <input type="text" id="datePicker" name="date" placeholder="날짜를 선택해주세요" th:field="*{departure}"
                                                                               readonly="readonly" style="background: url('/assets/img/icon/calander.png') no-repeat 10px 15px;
                                                                               background-size: 20px;background-position: right; cursor:pointer;">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-lg-3  col-md-6 col-sm-12 col-12">
                                                            <div class="flight_Search_boxed dropdown_passenger_area">
                                                                <p>여행객</p>
                                                                <div class="dropdown">
                                                                    <button class="dropdown-toggle final-count"
                                                                            data-toggle="dropdown" type="button"
                                                                            id="dropdownMenuButton1" name="count"
                                                                            data-bs-toggle="dropdown"
                                                                            aria-expanded="false" data-value="">[[*{totcount}]]
                                                                    </button>
                                                                    <input type="hidden" th:field="*{totcount}"/>
                                                                    명
                                                                    <div class="dropdown-menu dropdown_passenger_info"
                                                                         aria-labelledby="dropdownMenuButton1" style="">
                                                                        <div class="traveller-calulate-persons">
                                                                            <div class="passengers">
                                                                                <h6>여행객</h6>
                                                                                <div class="passengers-types">
                                                                                    <div class="passengers-type">
                                                                                        <div class="text">
                                                                                            <span class="count pcount">0</span>
                                                                                            <div class="type-label">
                                                                                                <p>성인</p>
                                                                                                <span>12+세</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="button-set">
                                                                                            <button type="button"
                                                                                                    class="btn-subtract">
                                                                                                <i class="fas fa-minus"
                                                                                                   aria-hidden="true"></i>
                                                                                            </button>
                                                                                            <button type="button"
                                                                                                    class="btn-add">
                                                                                                <i class="fas fa-plus"
                                                                                                   aria-hidden="true"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="passengers-type">
                                                                                        <div class="text"><span
                                                                                                class="count ccount">0</span>
                                                                                            <div class="type-label">
                                                                                                <p class="fz14 mb-xs-0">
                                                                                                    어린이
                                                                                                </p>
                                                                                                <span>2- 12세 미만</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="button-set">
                                                                                            <button type="button"
                                                                                                    class="btn-subtract-c">
                                                                                                <i class="fas fa-minus"
                                                                                                   aria-hidden="true"></i>
                                                                                            </button>
                                                                                            <button type="button"
                                                                                                    class="btn-add-c">
                                                                                                <i class="fas fa-plus"
                                                                                                   aria-hidden="true"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="passengers-type">
                                                                                        <div class="text"><span
                                                                                                class="count incount">0</span>
                                                                                            <div class="type-label">
                                                                                                <p class="fz14 mb-xs-0">
                                                                                                    유아
                                                                                                </p><span>2세 미만</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="button-set">
                                                                                            <button type="button"
                                                                                                    class="btn-subtract-in">
                                                                                                <i class="fas fa-minus"
                                                                                                   aria-hidden="true"></i>
                                                                                            </button>
                                                                                            <button type="button"
                                                                                                    class="btn-add-in">
                                                                                                <i class="fas fa-plus"
                                                                                                   aria-hidden="true"></i>
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="top_form_search_button">
                                                           <button class="btn btn_theme btn_md"> 검색</button>
                                                        </div>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Flight Search Areas -->
<div id="explore_area" class="section_padding" style="padding-top:50px;">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="">
                <nav class="theme_nav_tab_item">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="theme_nav_tab">
                                <nav class="theme_nav_tab_item">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="healing"
                                                th:classappend="*{keyword == 'healing'} ? 'active' : ''" data-bs-toggle="tab" role="tab">힐링
                                        </button>
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="activity"
                                                th:classappend="*{keyword == 'activity'} ? 'active' : ''" data-bs-toggle="tab" role="tab">액티비티
                                        </button>
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="golf"
                                                th:classappend="*{keyword == 'golf'} ? 'active' : ''" data-bs-toggle="tab" role="tab">골프
                                        </button>
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="hocance"
                                                th:classappend="*{keyword == 'hocance'} ? 'active' : ''" data-bs-toggle="tab" role="tab">호캉스
                                        </button>
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="family"
                                                th:classappend="*{keyword == 'family'} ? 'active' : ''" data-bs-toggle="tab" role="tab">가족여행
                                        </button>
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="food"
                                                th:classappend="*{keyword == 'food'} ? 'active' : ''" data-bs-toggle="tab" role="tab">식도락여행
                                        </button>
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="culture"
                                                th:classappend="*{keyword == 'culture'} ? 'active' : ''" data-bs-toggle="tab" role="tab">문화/예술
                                        </button>
                                        <button class="nav-link" th:field="*{keyword}" name="keyword" value="animal"
                                                th:classappend="*{keyword == 'animal'} ? 'active' : ''" data-bs-toggle="tab" role="tab">애견동반
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </div>
    <div class="container">
        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-3">
                <div class="left_side_search_area">
                    <div class="left_side_search_boxed">
                        <div class="left_side_search_heading">
                            <h5>가격필터</h5>
                        </div>
                        <div class="filter-price">
                            <p style="margin-bottom:10px;">
                                <label for="amount">가격범위：</label>
                                <input type="text" id="amount" style="width:70%; border:0; color:black; font-weight:bold; background:white;" disabled="disabled">
                            </p>
                            <div id="slider-range"></div>
                        </div>
                        <button class="apply">적용하기</button>
                        <input type="hidden" id="pricerangestr" th:field="*{pricerangestr}"/>
                        <input type="hidden" id="pricerangeend" th:field="*{pricerangeend}"/>
                    </div>
                    <div class="left_side_search_boxed">
                        <div class="left_side_search_heading">
                            <h5>항공사</h5>
                        </div>
                        <div class="tour_search_type">
                            <div class="form-check" th:each="transport : ${transports}">
                                <label>
                               <input class="form-check-input" type="checkbox" th:value="${transport.key}" th:field="*{transports}">
                                    <span class="area_flex_one">
                                            <span th:text="${transport.value}"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="left_side_search_boxed">
                        <div class="left_side_search_heading">
                            <h5>여행기간</h5>
                        </div>
                        <div class="tour_search_type">
                            <div class="form-check" th:each="travelPeriod : ${travelPeriods}">
                                <label>
                                <input class="form-check-input" type="checkbox" th:value="${travelPeriod.key}" th:field="*{travelPeriods}">
                                        <span class="area_flex_one">
                                           <span th:text="${travelPeriod.value}"></span>
                                        </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="dashboard_common_table" style="background:none; padding:10px; margin-bottom:20px;">
                    <h3 th:text="|제주도 패키지 &nbsp;&nbsp;&nbsp; ${paging.totalElements}개|"></h3>
                </div>
                <div th:if="${paging.isEmpty()}" align="center"><img src="/assets/img/notfoundpackage.png"></div>
                <div class="row" >
                    <div class="col-lg-12">
                        <div class="flight_search_result_wrapper">
                            <!-- 패키지 반복문 시작-->
                            <div class="flight_search_item_wrappper" th:each="package,loop : ${paging}">
                                <div class="flight_search_items">
                                    <div class="multi_city_flight_lists">
                                        <div class="top_destinations_box img_hover">
                                            <div class="heart_destinations">
                                                <i class="fas fa-heart"></i>
                                            </div>

                                                <a th:href="@{|/package/${package.id}|}"><img th:src="@{|/package-preview/${package.id}/${package.previewImage}|}"/></a>

                                          <div class="multi_city_flight_lists_content">
                                            <h3><a th:href="@{|/package/${package.id}|}" th:text="${package.packageName}"></a></h3>
                                            <br/>
                                            <h5 th:text="${package.packageInfo}"></h5>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="flight_search_right">
                                        <div class="flight_search_right_content">
                                            <th:block th:if="${not #strings.isEmpty(package.discount)}">
                                            <h5>
                                                <del th:text="|${#numbers.formatInteger(package.aprice,1,'COMMA')}원|"></del>
                                                <sup th:text="|${package.discount}%|"></sup>
                                            </h5>
                                            <h2><span th:text="|${#numbers.formatInteger(package.aprice - (package.aprice *(package.discount * 0.01)),1,'COMMA')}원|"></span>
                                            </h2>
                                            </th:block>
                                            <th:block th:if="${#strings.isEmpty(package.discount)}">
                                                <h2><span th:text="|${#numbers.formatInteger(package.aprice,1,'COMMA')}원|"></span>
                                                </h2>
                                            </th:block>


                                            <div class="all_review_star" style="margin-top:20px;">
                                                <div class="review_star_all">
                                                    <i class="fas fa-star"></i>
                                                <span class="review_rating" th:text="|리뷰자리/5|"></span>
                                                <span class="review_count" th:text="|(리뷰 갯수) reviews|"></span>
                                                </div>
                                            </div>
                                            <div class="tour_package_details_bar_list">
                                                <ul>
                                                    <li><i class="bi bi-person-check-fill"  style="font-size: 20px; "></i><span th:text="|최대 수량 ${package.count}|"></span></li>
                                                    <li><i class="bi bi-calendar-check"  style="font-size: 20px; "></i><span>예약가능 날짜</span></li>
                                                    <li style="padding-top: 0px;"><span th:text="|${package.postStart} ~ ${package.postEnd}|" style="margin-left:30px;"></span></li>
                                                    <li><i  class="bi bi-sun" style="font-size: 18px;"></i><span th:text="|여행기간 ${package.travelPeriod}박 ${package.travelPeriod+1}일|"></span></li>
                                                    <li><i class="bi bi-tags-fill" style="font-size: 20px;"></i><span th:text="|테마 #${package.keyword}|"></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span>
                                            <a th:href="@{|/package/${package.id}|}" class="btn btn_theme btn_sm">예약하기</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
<!-- 패키지 반복문 끝-->
                            <div class="pagination_area" th:if="${!paging.isEmpty()}">
                                <ul class="pagination"
                                    th:with="startNumber=${(paging.number/10)}*10+1,endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/package/jeju?(page=1,location=${param.location},date=${param.date},totcount=${param.totcount},keyword=${param.keyword},transports=${param.transports},travelPeriods=${param.travelPeriods},pricerangestr=${param.pricerangestr},pricerangeend=${param.pricerangeend})}" aria-label="Previous">
                                            <span aria-hidden="true">≪</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:style="${paging.first}?'display:none'">
                                        <a class="page-link" th:href="@{/package/jeju(page=${paging.number},location=${param.location},date=${param.date},totcount=${param.totcount},keyword=${param.keyword},transports=${param.transports},travelPeriods=${param.travelPeriods},pricerangestr=${param.pricerangestr},pricerangeend=${param.pricerangeend})}">＜</a>
                                    </li>
                                    <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                                        th:classappend="(${page}==${paging.number+1})?'active'">
                                        <a class="page-link" th:href=@{/package/jeju(page=${page},location=${param.location},date=${param.date},totcount=${param.totcount},keyword=${param.keyword},transports=${param.transports},travelPeriods=${param.travelPeriods},pricerangestr=${param.pricerangestr},pricerangeend=${param.pricerangeend})} th:text="${page}"></a>
                                    </li>
                                    <li class="page-item" th:style="${paging.last}?'display:none'">
                                        <a class="page-link" th:href="@{/package/jeju(page=${paging.number+2},location=${param.location},date=${param.date},totcount=${param.totcount},keyword=${param.keyword},transports=${param.transports},travelPeriods=${param.travelPeriods},pricerangestr=${param.pricerangestr},pricerangeend=${param.pricerangeend})}">＞</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{/package/jeju(page=${paging.totalPages},location=${param.location},date=${param.date},totcount=${param.totcount},keyword=${param.keyword},transports=${param.transports},travelPeriods=${param.travelPeriods},pricerangestr=${param.pricerangestr},pricerangeend=${param.pricerangeend})}"
                                           aria-label="Next">
                                            <span aria-hidden="true">≫</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>
</section>

</body>
</html>