<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>고객의 소리</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Area -->
<section id="dashboard_main_arae" class="section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4-sally">
        <div class="dashboard_sidebar">
          <div class="dashboard_menu_area">
            <ul>
              <li><a href="dashboard.html">공지사항</a></li>
              <li ><a th:href="@{/voiceCus/list}" class="active">고객의소리</a></li>
              <li><a href="dashboard.html">QnA</a></li>
              <li><a href="dashboard.html">FAQ</a></li>
              <li><a href="dashboard.html">여행후기</a></li>
              <li><a href="dashboard.html">1:1 문의</a></li>
              <li><a th:href="@{/estimate/list}">견적문의</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8-sally">
        <div class="dashboard_common_table">
          <h3>고객의 소리</h3>
          <div class="col-lg-2" style="float: right; padding-top: 10px;padding-bottom: 10px;">
          <select class="form-select" id="typeValue"  aria-label="Default select example">
            <option value="total">분류선택</option>
            <option value="good">칭찬의 소리</option>
            <option value="bad">불만의 소리</option>
            <option value="suggestion">건의사항</option>
          </select>
          </div>
          <div class="table-responsive-lg table_common_area">
            <table class="table" >
              <thead>
              <tr>
                <th width="130">글번호</th>
                <th width="180">분류</th>
                <th width="500">제목</th>
                <th width="130">글쓴이</th>
                <th width="180">작성일</th>



              </tr>
              </thead>
              <tbody>
              <tr th:if="${paging.isEmpty()}"><td colspan="4"> 게시글이 없습니다. </td></tr>
              <th:block th:each="voiceCus,loop : ${paging}">
              <tr>
                <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
                <td th:if="${voiceCus.types=='good'}">칭찬의 소리</td>
                <td th:if="${voiceCus.types=='bad'}">불만의 소리</td>
                <td th:if="${voiceCus.types=='suggestion'}">건의사항</td>
                <td th:align="left" th:if="${email==voiceCus.author.email} or ${email}=='admin@naver.com'">
                  <a th:href="@{|/voiceCus/article/${voiceCus.id}|}" th:text="${voiceCus.subject}"></a>
                </td>
                <td th:align="left" th:if="${email!=voiceCus.author.email} and ${email}!='admin@naver.com'">
                  <a th:href="@{|/voiceCus/article/chkPwd/${voiceCus.id}|}" th:text="${voiceCus.subject}"></a>
                </td>
                <td th:text="${voiceCus.author.getName()}"></td>
                <td th:text="${#temporals.format(voiceCus.createdDate,'yyyy-MM-dd HH:mm')}">2022-09-25</td>
              </tr>
              <!-- 답변 -->
                <tr th:if="${!voiceCus.voiceCusReplyList.isEmpty()}" th:each="reply : ${voiceCus.voiceCusReplyList}">

                  <td></td>
                  <td></td>
                  <td th:align="left" th:if="${email==voiceCus.author.email} or ${email}=='admin@naver.com'">
                    <a style="color: black" th:href="@{|/reVoiceCus/article/${reply.id}|}">&nbsp;&nbsp;└[답변]소중한 의견 감사합니다.</a>
                  </td>
                  <td th:align="left" th:if="${email}!='admin@naver.com' and ${email!=voiceCus.author.email}">
                    <a style="color: black" th:href="@{|/reVoiceCus/article/chkPwd/${reply.id}|}">&nbsp;&nbsp;└[답변]소중한 의견 감사합니다.</a>
                  </td>
                  <td th:text="관리자"></td>
                  <td th:text="${#temporals.format(reply.createdDate,'yyyy-MM-dd')}"></td>


                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
          <div class="option-item" style="float: right">
            <button th:onclick="|location.href='@{/voiceCus/create}'|" class="btn btn_theme"
                    style="height: 35px;font-size: 12pt;margin-right: 20px" >글올리기</button>
          </div>

        </div>

        <div class="pagination_area" th:if="${!paging.isEmpty()}">
          <ul class="pagination" th:with="startNumber=${(paging.number/10)}*10+1,endNumber=(${paging.totalPages}>${startNumber+9})?${startNumber+9}:${paging.totalPages}">
            <li class="page-item">
              <a class="page-link" th:href="@{/voiceCus/list?page=1}" aria-label="Previous">
                <span aria-hidden="true">≪</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" th:style="${paging.first}?'display:none'">
              <a class="page-link" th:href="@{/voiceCus/list(page=${paging.number})}">＜</a>
            </li>
            <li class="page-item" th:style="${paging.first}?'display:none'">
              <a class="page-link" th:href="@{/voiceCus/searching(page=${paging.number},types=${param.types})}">&lsaquo;</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(startNumber,endNumber)}"
                th:classappend="(${page}==${paging.number+1})?'active'">
              <a class="page-link" th:href="@{/voiceCus/searching(page=${page},types=${param.types})}" th:text="${page}"></a>
            </li>
            <li class="page-item" th:style="${paging.last}?'display:none'">
              <a class="page-link" th:href="@{/voiceCus/searching(page=${paging.number+2},types=${param.types})}">＞</a>
            </li>
            <li class="page-item">
              <a class="page-link" th:href="@{/voiceCus/list(page=${paging.totalPages})}" aria-label="Next">
                <span aria-hidden="true">≫</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item" th:style="${paging.first}?'display:none'">
              <a class="page-link" th:href="@{/voiceCus/list(page=${paging.totalPages})}" >&raquo;</a>
            </li>
            <input type="hidden" id="voicePageNum" th:value="${paging.number+1}"/>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Cta Area -->
<script>
  ${}
</script>

</body></html>