<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>Q&A</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span> Package</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tour Booking Submission Areas -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">
  <form th:action th:object="${QnAReplyForm}" method="post">

  <div class="col-lg-8">
  </div>
  <div class="container" style="margin: auto; width: 70%">
    <div class="row">

      <div class="col-lg-13">
        <div class="tou_booking_form_Wrapper">

          <div class="booking_tour_form">
            <h3 class="heading_theme">Q&A 답변</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                    <span style="text-align:center;margin-top: 15px">제목</span>
                    </div>
                    <div class="form-group col-lg-7">
                    <span><input type="text" th:field="*{title}" class="shform-control" name="" style="border-radius: 3px"></span>
                    </div>
                  </li>


                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">내용</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><textarea type="text" th:field="*{content}" class="shform-control" name="" style="border-radius: 3px" rows="7"></textarea></span>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="common_form_submit">
    <button class="btn btn_theme btn_md" type="submit">등록하기</button>
  </div>
  </form>
</section>



</body></html>