<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<!-- Common Banner Area -->
<section id="common_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="common_bannner_text">
          <h2>Q&A</h2>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span><i class="fas fa-circle"></i></span> Package</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- qna 작성 -->
<section id="tour_booking_submission" class="section_padding" style="margin: auto">
  <form th:action th:object="${QnAForm}" method="post">
  <div class="col-lg-8">
  </div>
  <div class="container" style="margin: auto; width: 70%">
    <div class="row">

      <div class="col-lg-13">
        <div class="tou_booking_form_Wrapper">

          <div class="booking_tour_form">
            <h3 class="heading_theme">Q&A</h3>
            <div class="tour_booking_form_box">
              <div class="your_info_arae">
                <ul>
                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                    <span style="text-align:center;margin-top: 15px">제목</span>
                    </div>
                    <div class="form-group col-lg-7">
                    <span><input type="text" th:field="*{subject}" class="shform-control" style="border-radius: 3px;"/></span>
                    </div>
                  </li>

<!--                  <li>-->
<!--                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">-->
<!--                      <span style="text-align:center;margin-top: 15px">작성자</span>-->
<!--                    </div>-->
<!--                    <div class="form-group col-lg-7">-->
<!--                      <span th:text="${name}"></span>-->
<!--                    </div>-->
<!--                  </li>-->



                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">분류</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span>
                        <select th:field="*{qnacategory}" class="form-select" style="border-radius: 3px" aria-label="Default select example">
                          <option selected value="">질문 카테고리를 선택하세요</option>
                          <option th:value="해외여행">해외여행</option>
                          <option th:value="제주여행">제주여행</option>
                          <option th:value="기타">기타</option>
                        </select>
                      </span>
                    </div>
                  </li>

                  <li>
                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">
                      <span style="text-align:center;margin-top: 15px">내용</span>
                    </div>
                    <div class="form-group col-lg-7">
                      <span><textarea type="text" th:field="*{content}" class="shform-control" name="" style="border-radius: 3px" rows="7"></textarea></span>
                    </div>
                  </li>

<!--                  <li>-->
<!--                    <div class="col-lg-2" style="text-align: center; margin-top: 15px">-->
<!--                      <span style="text-align:center;margin-top: 15px">비밀번호</span>-->
<!--                    </div>-->
<!--                    <div class="form-group col-lg-7">-->
<!--                      <span><input type="password" th:field="*{password}" class="shform-control" name="" style="border-radius: 3px"></span>-->
<!--                    </div>-->
<!--                  </li>-->

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="common_form_submit">
    <button class="btn btn_theme btn_md">등록하기</button>
  </div>
  </form>
</section>



</body></html>