<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <!-- preloader Area -->
    <!-- Header Area -->
    <!-- search -->

    <!-- Common Banner Area -->
    <section id="common_banner" style="background-image: url('/assets/img/banner/banner01.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Booking Confirmation</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Booking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
    <section id="tour_booking_submission" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tou_booking_form_Wrapper">
                        <div class="tour_booking_form_box mb-4">
                            <div class="booking_success_arae">
                                <div class="booking_success_img">
                                    <img src="assets/img/icon/right.png" alt="img">
                                </div>
                                <div class="booking_success_text">
                                    <h3>박수진님의 예약이 성공적으로 완료되었습니다.</h3>
                                    <h6>자세한 예약정보 확인은 [마이페이지 > 예약정보확인]에서 확인 가능합니다.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="booking_tour_form">
                            <h3 class="heading_theme">예약정보</h3>
                            <div class="tour_booking_form_box">
                                <div class="your_info_arae">
                                    <ul>
                                        <li><span class="name_first">예약번호</span> <span class="last_name">RV102938463</span></li>
                                        <li><span class="name_first">상품명(packageName)</span> <span
                                                class="last_name">해피부산여행</span></li>
                                        <li><span class="name_first">예약기간</span> <span
                                                class="last_name">4박5일(EndDate-StartDate)</span></li>
                                        <li><span class="name_first">출발일</span> <span
                                                class="last_name">2022-10-09 AM10:00 (startDate + flighthour)</span></li>
                                        <li><span class="name_first">도착일</span> <span
                                                class="last_name">2022-10-14 PM06:00 (endDate + flighthour)</span></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tour_details_right_sidebar_wrapper">
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>결제 예정 금액</h3>
                                </div>
                                <div class="tour_booking_amount_area">
                                    <ul>
                                        <li>성인 x 1 <span>1,000,000원</span></li>
                                        <li>아동 x 1 <span>500,000원</span></li>
                                        <li>유아 x 1 <span>0원</span></li>
                                    </ul>
                                    <ul>
                                        <li> 패키지금액 <span><del>2,500,000원</del></span></li>
                                        <li> 할인금액<span>1,500,000원</span></li>
                                    </ul>
                                </div>
                                <div class="coupon_add_area">
                                        
                                        <h6><span class="remove_coupon_tour">Remove</span> wehlcome10%쿠폰
                                            <span>150,000원</span>
                                        </h6>
                                </div>
                                <div class="total_subtotal_booking">
                                        <h6><b>총 금액</b><span>1,350,000원</span> </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Cta Area -->
    <!-- Footer  -->

</body>

</html>