<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <!-- preloader Area -->
    <!-- Header Area -->
    <!-- search -->

    <!-- Common Banner Area -->
    <section id="common_banner" style="background-image: url('/assets/img/banner/banner01.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>예약완료</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span> Booking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Tour Booking Submission Areas -->
    <section id="tour_booking_submission" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tou_booking_form_Wrapper">
                        <div class="tour_booking_form_box mb-4">
                            <div class="booking_success_arae">
                                <div class="booking_success_img">
                                    <img src="/assets/img/icon/right.png" alt="img">
                                </div>
                                <div class="booking_success_text">
                                    <h3><a th:text="${member.name}"></a>님의 예약이 성공적으로 완료되었습니다.</h3>
                                    <h6>자세한 예약정보 확인은 [마이페이지 > 예약정보확인]에서 확인 가능합니다.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="tou_booking_form_Wrapper">
                        <div class="booking_tour_form"></div>
                    </div>
                    <div class="tou_booking_form_Wrapper">
                        <h3 class="heading_theme">예약정보</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tou_booking_form_Wrapper">
                        <div class="tour_booking_form_box">
                            <div class="your_info_arae">
                                <ul>
                                    <li><span class="name_first">예약번호</span> <span class="last_name" th:text="${userBooking.id}">예약번호</span></li>
                                    <li><span class="name_first">예약날짜</span> <span
                                            class="last_name" th:text="${#temporals.format(userBooking.bookingDate,'yyyy-MM-dd HH:mm:ss')}"></span></li>
                                    <li><span class="name_first">출발일</span> <span
                                            class="last_name" th:text="${#temporals.createDate(userBooking.departure, 'yyyyMMdd')}"></span></li>
                                    <li><span class="name_first">도착일</span> <span
                                            class="last_name" th:text="${#temporals.createDate(userBooking.arrival, 'yyyyMMdd')}"></span></li>
                                    <li><span class="name_first">예약인원</span> <span
                                            class="last_name" th:text="|총 ${userBooking.bookingTotalCount}명
                                            (성인 : ${userBooking.aCount}명, 아동 : ${userBooking.cCount}명, 유아 : ${userBooking.bCount}명) |">4명</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tou_booking_form_Wrapper">
                        <div class="tour_booking_form_box">
                            <div class="your_info_arae">
                                <ul>
                                    <li><span class="name_first">여행자 이름</span> <span class="last_name" th:text="${userBooking.travelerName}">예약번호</span></li>
                                    <li><span class="name_first">여행자 연락처</span> <span
                                            class="last_name" th:text="${userBooking.travelerTel}"></span></li>
                                    <li><span class="name_first">여행자 생년월일</span> <span
                                            class="last_name" th:text="${userBooking.travelerBirth}"></span></li>
                                    <li><span class="name_first">총 결제금액</span> <span
                                            class="last_name" th:text="|${userBooking.bookingTotalPrice}원|">4명</span></li>
                                    <li><span class="name_first">요청사항</span> <span
                                            class="last_name" th:text="${userBooking.request}">2022-10-14 PM06:00 (endDate + flighthour)</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Cta Area -->
    <!-- Footer  -->

</body>

</html>