<!DOCTYPE html>
<html th:replace="~{layout/layoutFile :: layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <!-- preloader Area -->
    <!-- Header Area -->
    <!-- search -->

    <!-- Common Banner Area -->
    <section id="common_banner" style="background-image: url('/assets/img/banner/banner01.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="common_bannner_text">
                        <h2>Paymemt</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><span><i class="fas fa-circle"></i></span><a href="visa-details.html"> United states</a>
                            </li>
                            <li><span><i class="fas fa-circle"></i></span> Visa application</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Visa application  Areas -->
    <section id="tour_booking_submission" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="tou_booking_form_Wrapper">
                        <!--추가덩어리 : 예약정보-->
                         <div class="booking_tour_form">
                            <h3 class="heading_theme">상품정보</h3>
                            <div class="tour_booking_form_box">
                                <div class="your_info_arae">
                                    <ul>
                                        <li><span class="name_first">상품명(packageName)</span> <span
                                                class="last_name">해피부산여행</span></li>
                                        <li><span class="name_first">이용교통</span> <span
                                                class="last_name">대한항공</span></li>
                                        <li><span class="name_first">예약기간</span> <span
                                                class="last_name">4박5일(EndDate-StartDate)</span></li>
                                        <li><span class="name_first">출발일</span> <span
                                                class="last_name">2022-10-09 AM10:00 (startDate + flighthour)</span></li>
                                        <li><span class="name_first">도착일</span> <span
                                                class="last_name">2022-10-14 PM06:00 (endDate + flighthour)</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                          <!--추가덩어리 : 여행경비-->
                            <div class="booking_tour_form">
                            <h3 class="heading_theme">여행경비</h3>
                            <div class="tour_booking_form_box">
                                <div class="your_info_arae">
                                    <ul>
                                        <li><span class="name_first">성인</span> <span
                                                class="last_name">1,000,000원</span></li>
                                        <li><span class="name_first">아동</span> <span
                                                class="last_name">500,000원</span></li>
                                        <li><span class="name_first">유아(24개월이하)</span> <span
                                                class="last_name">0원</span></li>
                                    </ul>
                                </div>
                                
                            </div>
                            <br/>유류할증료의 변화로 금액은 변동될 수 있음을 알려드립니다. 최종 결제 페이지에서 금액을 확인해주세요.
                        </div>
                        
                        <!--한덩어리 : 입력받을 내용-->
                        <div class="booking_tour_form">
                            <h3 class="heading_theme">여행자정보</h3>
                            <div class="tour_booking_form_box">
                                <form action="!#" id="tour_bookking_form_item">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control bg_input"
                                                    placeholder="이름*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control bg_input"
                                                    placeholder="생년월일(1999-01-01)*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control bg_input"
                                                    placeholder="휴대폰번호(010-1234-1234)*">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <select class="form-control form-select bg_input">
                                                    <option value="1">Gender</option>
                                                    <option value="1">Male</option>
                                                    <option value="1">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                       
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control bg_input"
                                                    placeholder="Passport number">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control bg_input"
                                                    placeholder="Passport expiry date">
                                            </div>
                                        </div>
                                <!--요청사항-->
                                        <textarea class="form-control bg_input" rows="4" placeholder="요청사항을 적어주세요(200자)"></textarea>
                                        
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        

                        
                       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="tour_details_right_sidebar_wrapper">
                       
                       <!--덩어리: 쿠폰--> 
                        <br/><br/><br/>
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>쿠폰</h3>
                                </div>
                                <div class="coupon_code_area_booking">
                                    <form action="#!">
                                        <div class="form-group">
                                            
                                            <select class="form-control form-select bg_input" >
                                                    <option value="1">사용가능한 쿠폰 보기</option>
                                                    <option value="1">welcome10%쿠폰</option>
                                                    <option value="1">5000원할인쿠폰</option>
                                                </select>
                                        </div>
                                        <div class="coupon_code_submit">
                                            <button class="btn btn_theme btn_md">사용하기</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="tour_detail_right_sidebar">
                            <div class="tour_details_right_boxed">
                                <div class="tour_details_right_box_heading">
                                    <h3>결제 예정 금액</h3>
                                </div>

                                <div class="tour_booking_amount_area">
                                    <ul>
                                        <li>성인 x 1 <span>1,000,000원</span></li>
                                        <li>아동 x 1 <span>500,000원</span></li>
                                        <li>유아 x 1 <span>0원</span></li>
                                    </ul>
                                    <ul>
                                        <li> 패키지금액 <span><del>2,500,000원</del></span></li>
                                        <li> 할인금액<span>1,500,000원</span></li>
                                    </ul>
                                </div>
                                <div class="coupon_add_area">
                                        
                                        <h6><span class="remove_coupon_tour">Remove</span> wehlcome10%쿠폰
                                            <span>150,000원</span>
                                        </h6>
                                </div>
                                <div class="total_subtotal_booking">
                                        <h6>총 금액 <span>1,350,000원</span> </h6>
                                </div>
                                </div>
                            </div>
                        
                        <!--덩어리 : 결제수단 선택-->
                        <div class="booking_tour_form">
                            
                            <div class="tour_booking_form_box">
                                <div class="booking_payment_boxed">
                                    <h3 class="heading_theme">결제방법</h3>
                                    <form action="!#" id="payment_checked">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1" value="red">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                신용카드
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault2" value="green">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                계좌이체
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault4" value="white">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                                카카오페이
                                            </label>
                                        </div>
                                        <div class="payment_filed_wrapper">
                                            <div class="payment_card payment_toggle red">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control bg_input"
                                                            placeholder="카드번호(0000-0000-0000-0000)">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control bg_input"
                                                            placeholder="소유자명(영문)">
                                                    </div>
                                                    
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control bg_input"
                                                                placeholder="YYYY/MM/DD">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control bg_input"
                                                                placeholder="CVC">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="paypal_payment payment_toggle green">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control bg_input"
                                                            placeholder="입금자명을 입력해주세요">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="payoneer_payment payment_toggle black">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control bg_input"
                                                                placeholder="Email Address">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                         <!--세덩어리 : 결제 버튼-->
                        <div class="booking_tour_form_submit">
                            <div class="form-check write_spical_check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultf1">
                                <label class="form-check-label" for="flexCheckDefaultf1">
                                    <span class="main_spical_check">
                                        <span> 페이지의 모든 내용을 숙지하였습니다.</span>
                                    </span>
                                </label>
                            </div>
                            <a href="booking-confirmation.html" class="btn btn_theme btn_md">Submit</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </section>

    <!-- Cta Area -->
    <!-- Footer  -->


</body>

</html>